@import url(../lib/bootstrap/css/bootstrap.min.css);
@import url(../lib/font-awesome/css/font-awesome.min.css);
@import url(../lib/private/privateLte/css/dataTables.bootstrap.css);
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css";
@import url(../lib/private/privateLte/css/AdminLTE.min.css);
@import url(../lib/private/privateLte/css/_all-skins.min.css);
.bodyColor {
  background-color: #AED6F1; }

.formContainer {
  background-color: #ffffff;
  margin-top: 30%;
  border-radius: 10px; }

.clientDisplay {
  max-width: 22%;
  overflow: auto;
  max-height: 27%;
  overflow-wrap: break-word;
  position: absolute;
  padding: 10px;
  background-color: #eee;
  margin: 4px;
  border: 1px solid #d2d6de; }

.headerDisplay, .contUsDisplay, .enquiryDisplay, .businessDisplay, .businessCatDisplay, .growthDesc, .growthYear, .pressDisplay {
  max-width: 20%;
  overflow: auto;
  max-height: 15%;
  overflow-wrap: break-word;
  position: absolute;
  padding: 10px;
  background-color: #eee;
  margin: 4px;
  border: 1px solid #d2d6de; }

.contUsDisplay {
  width: 36%;
  max-width: 37%;
  max-height: 50%; }

.enquiryDisplay {
  max-height: 57%;
  max-width: 27%; }

.businessDisplay, .businessCatDisplay {
  max-height: 57%;
  max-width: 17%; }

.businessCatDisplay {
  max-width: 25%;
  max-height: 13%; }

.growthDesc {
  max-height: 125px;
  max-width: 34%;
  width: 45% !important; }

.growthYear {
  width: 15%; }

.contactdisplay {
  max-width: 180px;
  overflow: auto;
  max-height: 42px;
  overflow-wrap: break-word;
  position: absolute;
  padding: 10px;
  background-color: #eee;
  margin: 4px;
  border: 1px solid #d2d6de; }

.pressDisplay {
  max-width: 19%;
  max-height: 35%; }

.press-checkbox {
  height: 36px;
  width: 20px; }

.containt {
  width: 600px; }

.errormessagePadMag, .errorMessage {
  margin-bottom: 10px; }

.featureImages {
  height: 130px;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  background-color: black;
  margin-top: 5px;
  margin-left: 4px;
  width: 100%; }

.headline {
  color: #138D75;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 10px 0; }

.boldText {
  font-weight: bold; }

.errorMessage {
  text-align: center;
  color: #FF0000;
  font-weight: bold;
  font-size: 18px; }

.blueButton {
  background-color: #22a0da;
  text-align: center;
  color: white;
  height: 30px;
  padding: 5px;
  margin: 0px 6px 13px;
  width: 44%;
  cursor: pointer;
  float: right; }

.login-button {
  padding-right: 0px; }

.blue-button-1, .business-blue-button {
  background-color: #22a0da;
  text-align: center;
  color: #ffffff;
  height: 30px;
  padding: 5px;
  margin: 45px 0.2%;
  width: 15%;
  cursor: pointer;
  float: right; }

.business-blue-button {
  margin: 10px 0.2%; }

.droper, .droper option {
  cursor: pointer; }

/*# sourceMappingURL=protectedAdmin.css.map */
