<div class="container">
    <header class="cd-main-header ">
        <a class="cd-logo" href="#0"><img src="img/logo.jpg" alt="Logo"></a>
        <ul class="cd-header-buttons">
            <li>
                <a class="cd-search-trigger" href="#cd-search">
                    <!-- Search -->
                    <span></span>
                    <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
                </a>
            </li>
            <li>
                <a class="cd-nav-trigger" href="#cd-primary-nav">
                    <!-- Menu --><span></span></a>
            </li>
        </ul>
        <!-- cd-header-buttons -->
    </header>
    <nav class="cd-nav ">
      <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
          <li class="logo-css">
              <a href="index.html"> &nbsp;<img src="img/home_logo.png"></a>
          </li>
          <li class="has-children">
              <a href="business.html" class="ab">Business</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="has-children">
                      <a href="offering.html">Offerings</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Offerings</a></li>
                          <li><a href="luxeryresidancy.html">Luxury Residences</a></li>
                          <li><a href="commercial.html">Commercial</a></li>
                          <li><a href="hospitality.html">Hospitality</a></li>
                          <li><a href="#0">Retail</a></li>
                          <!-- Retail page not found -->
                      </ul>
                  </li>
                  <li class="has-children">
                      <a href="services.html">Services</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Services</a></li>
                          <!--  <li><a href="#">Project Management</a></li>
                          <li><a href="#0">Facility Management</a></li>
                          <li><a href="#0">Fit-Out Management</a></li>
                          <li><a href="#0">Fit-Out Management</a></li> -->
                          <li><a href="#">  Project Management </a></li>
                          <!-- Project Management  page not found, is it ProDUct Management ?  -->
                          <li><a href="">  Construction Management </a></li>
                          <!-- Construction Management page not found  -->
                          <li><a href="facility-management.html">  Facility Management </a></li>
                          <li><a href="fit-out-management.html">  Fit-Out Management </a></li>
                          <li><a href="brand-licensing.html">  Brand Licensing </a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="about.html" class="ab">About</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="has-children">
                      <a href="corporate-profile.html">Corporate Profile</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Corporate Profile</a></li>
                          <li><a href="foreword.html">Foreword</a></li>
                          <li><a href="company-profile.html">Company Profile</a></li>
                          <li><a href="growth_chronicle.html">Growth Chronicle</a></li>
                          <li><a href="group-philosophy.html">Group Philosophy</a></li>
                          <!-- <li><a href="#">Awards</a></li>  -->
                          <!-- missing in pdf -->
                      </ul>
                  </li>
                  <li class="has-children">
                      <a href="leadership.html">Leadership</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Leadership</a></li>
                          <li><a href="#">Atul Chordia</a></li>
                          <li><a href="#0">Abhay Chordia</a></li>
                          <li><a href="#0">Sagar Chordia</a></li>
                          <li><a href="#0">Anand Sanghvi</a></li>
                          <li><a href="#0">Vivek Rachh</a></li>
                      </ul>
                  </li>
                  <li class="">
                      <a href="#">Clients</a>
                  </li>
                  <li class="has-children">
                      <a href="#">Sustainability</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Sustainability</a></li>
                          <li><a href="in-business.html">In Business</a></li>
                          <li><a href="csr.html">CSR</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="alliances.html" class="ab">Alliances</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="#">Partners</a>
                  </li>
                  <li class="">
                      <a href="brand.html">Brands</a>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="career.html" class="ab">Careers</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="hr-align.html">HR Align</a>
                  </li>
                  <li class="">
                      <a href="pep.html">PEP</a>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="media.html" class="ab">Media</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="#">Press</a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Press</a></li>
                          <li><a href="#">PDF</a></li>
                          <li><a href="#">Video</a></li>
                      </ul>
                  </li>
                  <li class="">
                      <a href="#">Awards</a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Awards</a></li>
                          <li><a href="#">PDF</a></li>
                          <li><a href="#0">Video</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li><a href="contact.html">contact</a></li>
      </ul>
      <!-- primary-nav -->
  </nav>
</div>
<!-- container-->
