
/*
Errno::ENOENT: No such file or directory @ rb_sysopen - sass/app.scss

Backtrace:
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:484:in `read'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.2.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/

/* ================
font family
 ================*/

@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma/Tahoma.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Tahoma/Tahoma.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Tahoma/Tahoma.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Tahoma/Tahoma.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Tahoma/Tahoma.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana/Verdana.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Verdana/Verdana.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Verdana/Verdana.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Verdana/Verdana.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Verdana/Verdana.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'didot';
    src: url('../fonts/didot/didot.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/didot/didot.ttc') format('OpenType');
}

@font-face {
    font-family: 'didot-bold';
    src: url('../fonts/didot/didot-bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

.didot-font{
  font-family: 'didot', serif;
}

.didot-bold-font{
  font-family: 'didot-bold', serif;
}
.para p{font-family: verdana; font-size: 13px; color: #444444;}
/* =======================
  Common Button css
==========================*/
.common-btn{
  text-align: center;
  margin-top: 20px;
}
.common-btn .btn-default {
  color: #000;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0;
font-family: verdana;
  text-transform: uppercase;
  transition: all 0.5s;
}

.common-btn .btn-default:hover {
  color: #fff;
  padding: 8px 16px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 0;
font-family: verdana;
  text-transform: uppercase;
}
.common-btn-white{
  text-align: center;
  margin-top: 20px;
}
.common-btn-white .btn-default {
  color: #fff;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
font-family: verdana;
  text-transform: uppercase;
  transition: all 0.5s;
}

.common-btn-white .btn-default:hover {
  color: #fff;
  padding: 8px 16px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 0;
font-family: verdana;
  text-transform: uppercase;
}

.height-80{height: 80px;}

/* =======================
  Common Button css end
==========================*/

/* ============================
  Common feachers Button css
=============================*/

.panchshil_btn .btn-default {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 12px;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.8s;font-size: 12px;
    letter-spacing: 1px;
}

.panchshil_btn:hover .btn-default {
    background: rgba(255, 255, 255,1);
    color: #000;
    padding: 10px 12px;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
}


.panchshil_estate_agent .btn-default {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 12px;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.8s;font-size: 12px;
    letter-spacing: 1px;
}

.panchshil_estate_agent:hover .feachers-btn .btn-default {
    background: rgba(255, 255, 255,1);
    color: #000;
    padding: 10px 12px;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
}

.panchshil_estate_agent:hover .feachers-3rd-text-size{color: #fff;}
.panchshil_estate_agent:hover .fa-1x{color: #fff;}







.feachers-btn .btn-default {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 12px;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.8s;font-size: 12px;
    letter-spacing: 1px;
}

.feachers-overlay:hover .feachers-btn .btn-default {
    background: rgba(255, 255, 255,1);
    color: #000;
    padding: 10px 12px;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
}

.feachers-overlay:hover .feachers-3rd-text-size{color: #fff;}







.last-section .btn-default{
    background: transparent;
    color: #000;
    padding: 10px 12px;
    border: 2px solid #055279;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.8s;font-size: 12px;
    letter-spacing: 1px;}



/* ============================
  Common feachers Button css end
=============================*/

/* =======================
  Common Banner
==========================*/
.hero-banner-img{
  background: url('../img/growth_chronicle_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-col-padding{
  padding: 0;
}

.hero-banner-text{
  margin-top: 110px;
  height: 300px;
  color: #fff;
}

.hero-banner-text .hero-banner-link{
  padding: 10px 20px 10px 20px;
  background-color: #000;
  opacity: 0.4;
}

.hero-banner-link a{
  text-decoration: none;
  color: #fff;
}

.hero-banner-text h1{
  text-align: center;
  margin-top: 80px;
  text-transform: capitalize;
  font-family: 'didot-bold';
}
/* =======================
  Common Banner end
==========================*/

/* =======================
  Common News and update css
==========================*/

.NewsUpdate {
  text-align: center;
    color: #000;
    padding: 16px 24px;
    padding-left: 14px;
}

.NewsUpdate>div {
    border-right: 1px solid #b7b5b5;
}

.NewsUpdate .date {
    margin-bottom: 0;
    font-size: 33px;
}

.NewsUpdate .month {
    font-size: 13px;
    text-transform: uppercase;
}

.updates-content {
  padding: 15px 0;
    color: #828080;
    font-family: verdana;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

/* =======================
  Common News and update css end
==========================*/

/* =======================
  Common filter-nav
==========================*/

.filter-nav {
	margin:1%;
	padding:0;
	list-style-type: none;
}

	.filter-nav li {
    display: inline-block;
    margin-right: 10px;
	}

	.filter-nav li a {
		display: block;
    color: #bababa;
    padding: 15px 25px;
    border: 1px solid #bababa;
    text-decoration: none;
		cursor: pointer;font-family: verdana;
	}

	.filter-nav li a.active {
    color: #f58634;
    border: 1px solid #f58634;
	}

  /* =======================
    Common filter-nav end
  ==========================*/

/*=============
Nav bar
=============*/

.header-section {
    padding: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}

.header {
    border-radius: 0;
    margin: 0;
    height: 110px;
    border: 0;
}

.quick-link .navbar-nav>li>a {
    padding-top: 45px;
    padding-bottom: 45px;
    text-decoration: none;
    color: #717171;
    text-transform: uppercase;
    font-family: 'Tahoma';
    transition: border-bottom 0.15s linear;
}

.quick-link .navbar-nav>li>.search_icon {
    padding-top: 35px;
    padding-bottom: 36px;
}

.quick-link .nav>li>a:focus, .quick-link .nav>li>a:hover {
    background-color: #fff;
    border-bottom: 5px solid orange;
}
/*================
Nav bar end
 ================*/

.navbar-white {
    background-color: white;
}

.navbar-white .navbar-toggle {
    border-color: #ddd;
}

.navbar-white .navbar-toggle .icon-bar {
    background-color: #888;
}


/* ================
 Slider Section
  ================ */

.slider-section {
    padding: 0;
}

.slider-content {
    position: relative;
}

.slider-content .carousel-caption {
    bottom: 0;
}

.slider-over-text {
    position: absolute;
    bottom: 0px;
    width: 915px;
    height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    left: 0;
    right: 0;
    padding: 20px 125px 0px 125px;



}

.slider-over-text .content-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.slider-over-text .content-info {
    color: #444444;
    text-shadow: none;
    margin-bottom: 30px;
font-size: 13px;line-height: 22px;
}

.slider-over-text .btn-default {
    background: transparent;
    border: 1px solid #000;
    padding: 8px 16px;
    border-radius: 0;font-size: 12px;letter-spacing: 2px;
}

.silder-controls {
    position: absolute;
    top: 57%;
      left: 72.5%;
    background-color: #000;
}

.silder-controls .left {
    left: 6px;
    right: auto
}

.silder-controls .right {
    left: 49px;
    right: auto;
}

.silder-controls-bg-white {
    background-color: white;
    color: transparent;
      padding: 12px;
}

.nri-landing-banner .slider-over-text {background-color: rgba(34, 34, 34, 0.8);font-size: 15px;width: 915px; height: 270px;
margin: 0 auto;}
.nri-landing-banner .slider-over-text p{color: #fff;font-family:'verdana';}
.nri-landing-banner .slider-over-text h2{color: #fff; font-family: 'diodt';}


/* ================
 Slider Section end
  ================*/


/* ================
  Metrics
   ================ */

.metrics-section {
    padding: 30px 0;
    border-bottom: 1px solid #d6d2d2;
}

.metrics {
    text-align: center;
    padding: 20px 0;    margin: 0 17px;
}

.metrics p {
    margin-top: 10px;
    font-family: 'Tahoma';
    text-transform: capitalize;
}

.metrics h2 {
    margin: 0;
}
/* ================
  Metrics end
 ================ */


/* ================
 Featured projects
===================*/
.feature-project {
    padding: 30px 0;font-size: 26px;
    color: #555555;  font-family: 'didot-bold';
}

.feature-slider .carousel-indicators {
      top: -9%;
    height: 20px;
    z-index: 0;
}

.feature-slider .carousel-indicators li {
    width: 35px;
        height: 3px;
    background-color: #d9d9d9;
  /*border: 1px solid #d9d9d9;*/
    border-radius: 0;
}

.feature-slider .carousel-indicators .active {
  width: 35px;
    height: 3px;
    background-color: #666666;
}

.feature-project-share-col {
    padding-right: 0;
    text-align: right;
}

.feature-project-share-icon {
    padding: 10px;
    background: #b5b1b1;
    color: #fff;
}

.feature-project-img img {
    width: 100%;
}

.feature-project-luxury {
    background-color: white;
    margin-top: 8%;
}

.feature-project-luxury-info {
    position: relative;
    height: auto;
}

.feature-project-luxury-info>div {
    position: absolute;
    background-color: white;
    left: -25%;
    padding: 15px;
    font-size: 13px;
}

.feature-project-luxury-btn {
    position: relative;
}

.feature-project-luxury-btn>div {
    position: absolute;
    bottom: -180px;
}

.feature-project-luxury-btn>div>a {
    border-radius: 0;
    border: 1px solid #000;
    background: transparent;
}

.feature-project-luxury-btn .btn-default:active, .btn-default:hover {
    border-radius: 0;
    border: 1px solid #000;
    background: transparent;
}

.feature-slider .carousel-control .glyphicon-chevron-left {
    width: auto;
    height: auto;
    margin-top: 10%;
    padding: 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.feature-slider .carousel-control .glyphicon-chevron-right {
    width: auto;
    height: auto;
    margin-top: 10%;
    padding: 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.carousel .left {
    background: none;
}

.carousel .right {
    background: none;
}
/* ========================
 Featured projects end
  ========================*/

/* ================
 projects
  ================*/
.projects-section {
    position: relative;
    padding: 30px 0;
    box-shadow: 0 4px 5px 0 rgba(229,229,229,0.8),0 1px 0px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.projects-section img {
    width: 100%;
}

.projects-section h2 {
    text-align: center;
    padding: 20px 0;font-size: 26px;  font-family: 'didot-bold';
    color: #555555;
}

.project-img-zoom{
  overflow:hidden;

}

.project-img-zoom img{
  -webkit-transition:all .4s linear;
  transition:all .6s linear;
}

.project-img-zoom:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.projects a {
    text-decoration: none;
    color: #222222;
}

.projects h3 {
  background-color: #f8f8f8;
    margin: 0;
    padding: 30px 20px;
}

.projects h3 span {
    font-size: 12px;
}

.projects fa{margin-top: 10px;color:#5e606f!impo; }


/* ================
 projects end
  ================*/

/* ================
 Updates
================*/
.updates-section {
    padding: 30px 0; padding-bottom: 50px;
    background-color: #f5f5f5;
}

.updates-section img {
    width: 100%;
}

.updates-section h2 {
    text-align: center;    margin-bottom: 12px;
    padding: 20px 0;font-size: 25px;color:#555555;font-family: 'didot-bold';
}

/* ================
Updates end
 ==================*/

/* ================================
World	Family, Simpler & Agent
 =================================*/
.panchashil-feachers .feachers-col-padding {
    padding: 0;
}

.panchashil-feachers img {
    width: 100%;
}

.feachers-overlay {
    position: relative;
    cursor: default;
		width: 100%;
		//height: 100%;
		float: left;
		overflow: hidden;
		background: t;
}

.feachers-overlay img {
	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	  transition: opacity 0.35s, transform 0.35s;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	}

	.feachers-overlay:hover img {
	  /*opacity: 0.5;*/
	}
.last-section .feachers-overlay-text {left: 26%;}

.feachers-overlay-text {
    position: absolute;
    bottom: 15%;
    left: 20%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.feachers-overlay-text p {
    letter-spacing: 4px;
    font-size: 23px;
}

.feachers-overlay-text h2 {
    letter-spacing: 5px;
    font-size: 66px;
}

.feachers-overlay-text .feachers-3rd-text-size {
    color: #055279;
    font-size: 50px;
}



.nri-feachers .feachers-overlay-text h2 {    letter-spacing: 5px;    font-size: 50px;}

.nri-content .tab-content {    display: none;}
.nri-content #tab-1 { display: block;}



/* ================================
 World	Family, Simpler & Agent end
  ================================	*/

/* ================
 Footer
  ================*/
  .block {
  /*background: green;*/
  /*height: 100px;*/
  /*width: 100px;*/    width: 185px;
  display:inline-block; text-align: left;
  margin: 0px;vertical-align: top;
}
  .footer-auto-center{width: 100%;
  background: transparent;
  margin: 10px auto;
  position: relative;
  text-align:center;}
.footer {
    padding: 30px 0;
}

.footer-quick-link-hr-border {
    padding-bottom: 20px;
    border-bottom: 1px solid #a2a1a1;
}

.footer-quick-link h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-quick-link h5 a {
    text-decoration: none;
    color: #000;    font-size: 11px;
    cursor: pointer;
}

.footer-quick-link ul {
    list-style-type: none;
    padding: 0;
}

.footer-quick-link ul li {
  margin: 5px auto;
width: 136px;

}

.footer-quick-link ul li i{
  color: #000;
}

.footer-quick-link ul li a {
    color: #828080;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 11px;
      font-family: verdana;
    cursor: pointer;
}

.footer-quick-link ul li:hover i{
  color: #f58634;
}

.footer-quick-link ul li:hover a{
  color: #000;
}

/* ================
 contact
  ================ */
.footer-header-padding {
    padding-bottom: 20px;
}

.contact {
    padding: 30px 0;
    border-right: 1px solid #a2a1a1;
}

.office-location {
  text-transform: uppercase;
    font-size: 12px;
    color: #000;
    line-height: 28px;
}

.office-address {
  color: #999999;
  font-size: 11.5px;
  font-family: verdana;
  line-height: 19px;
}
/* ================
 contact end
  ================ */

/* ================
  location map
   ================*/
.location-map {
    padding: 30px;
    border-right: 1px solid #a2a1a1;
}

.location-content span {
    color: #828080;
     font-size: 13.5px; text-align: left;
}

.location-content select {
    background: transparent;
    border: none;     font-size: 13.5px;
}
/* =====================
 location map end
  ====================== */

/* ================
 follow-us
  =================*/
.follow-us {
    padding: 30px;
}

.social-icon {
    list-style-type: none;
    padding: 0;
}

.social-icon li {
    display: inline;
    margin-right: 10px;
}

.social-icon li a {
    color: #828080;
    text-decoration: none;
    font-size: 37px;
}

.social-icon li a:hover .fa-facebook-square {
    color: #3b5998;
}

.social-icon li a:hover .fa-twitter-square {
    color: #4099ff;
}

.social-icon li a:hover .fa-google-plus-square {
    color: #d34836;
}

.social-icon li a:hover .fa-linkedin-square {
    color: #4875B4;
}

.social-icon li a:hover .fa-youtube-square {
    color: #FF3333;
}

.login-signup a {
    text-decoration: none;
    color: #000;
}
/* ===================
 follow-us end
  ===================*/

/* ===================
 footer bottom
  ===================*/
.footer-bottom {
    padding: 0;
}

.footer-bottom img {
    width: 100%;
    height: 530px;
}

.footer-bottom-img {
    position: relative;
}

.footer-bottom-overlay {
    position: absolute;
    bottom: 40%;
    left: 25%;
}

.footer-bottom-overlay .btn-default {
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 20px;
    width: 180px;
    position: relative;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    transition: 1s all;
}

.footer-bottom-img:hover .footer-bottom-overlay .btn-default {
  width: 180px;
  position: relative;
  height: 140px;
  display: table-cell;
  vertical-align: top;
}

.footer-bottom-overlay .plus-icon {
  position: absolute;
  top: 8px;
  right: 10px;
}

.footer-btn-hover-text{
  display: table-cell;
  vertical-align: middle;
  width: 180px;
  height: 0;
  text-transform: uppercase;
  padding-top: 10px;
}

.copy-right {
    background: #000;
    color: #828080;
    padding: 10px 0;
}

.copy-right p {
    margin: 0;color: #828080!important;
    font-size: 13px;
}
.copy-right p{
    margin: 0;color: #777777!important;
    font-size: 13px;
}

/* ====================
 footer bottom end
  ===================== */

.footer-bottom-overlay .plus-icon {
    text-align: right;
    margin: 0;
}
.footer-bottom-overlay .btn-text {
    padding: 0px 15px 10px 15px;
}
.copy-right {
    background: #000;
    color: #828080;
    padding: 10px 0;
}
.copy-right p {
    margin: 0
}

/* ===================
 Footer end
  ==================== */

/*===============================
  service page css
  ================================*/

  /*=============================
  service-container
  ================================*/
  .service-container-section{
    padding: 40px 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .service-container-padding{
    padding: 0;
    margin: 20px 0;
  }

  .service-container {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
  background: #000;
  }

  .service-container-text-padding{
    padding-left: 40px;
  }

  .service-container .service-container-text {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }

  .service-container img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .service-container:hover img {
    opacity: 0.4;
  }

  .service-container h2 {
    text-transform: capitalize;
    color: #fff;
    position: relative;
    font-size: 25px;
    overflow: hidden;
    padding: 120px 0px 10px 0px;
    background-color: transparent;
  }

  .service-container h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  .service-container:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

   .service-container p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }

   .service-container:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .service-container-arrow{
    text-align: right;
     padding: 150px 20px 10px 0px;
  }

  .service-container-arrow .arrow-hover{
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .service-container-arrow .arrow-hover i{
    padding: 10px;
    font-size: 20px;
  }

  .service-container:hover .service-container-arrow .arrow-hover i{
    background: #f58634;
    border-radius: 100%;
    padding: 10px;
    font-size: 20px;
    transition: all 0.7s;
  }
  /*=============================
  service-container end
  ================================*/
/*=============================
offering -container
================================*/
  .offering-container-section{
    padding: 40px 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .offering-container-padding{
    padding: 0;
    margin: 20px 0;
  }

  .offering-container {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
  background: #000;
  }

  .offering-container-text-padding{
    padding-left: 40px;
  }

  .offering-container .offering-container-text {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }

  .offering-container img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    height: 350px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;page
  }

  .offering-container:hover img {
    opacity: 0.4;
  }

  .offering-container .offering-container-hover-title {
    text-transform: capitalize;
    color: #fff;
    position: relative;
    font-size: 25px;
    overflow: hidden;
    padding: 120px 0px 10px 0px;
    background-color: transparent;
  }

  .offering-container .offering-container-hover-title .title{
    padding: 10px 15px 10px 0px;
    border-right: 2px solid #fff;
  }

  .offering-container .offering-container-hover-title .property-count{
    padding: 10px 0px 10px 20px;
  }


  .offering-container .offering-container-hover-title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  .offering-container:hover .offering-container-hover-title:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

   .offering-container p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    margin-top: 10px;
  }

   .offering-container:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .offering-container-arrow{
    text-align: right;
     padding: 150px 20px 10px 0px;
  }

  .offering-container-arrow .arrow-hover{
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .offering-container-arrow .arrow-hover i{
    padding: 10px;
    font-size: 20px;
  }

  .offering-container:hover .offering-container-arrow .arrow-hover i{
    background: #f58634;
    border-radius: 100%;
    padding: 10px;
    font-size: 20px;
    transition: all 0.7s;
  }
/*=============================
offering -container end
================================*/

/*===============================
  Luxery Residancy  page css
  ================================*/
  .residence-property-finder .form-group{
    margin-top: 10px;
    float: left;
    padding: 0 15px;
    width: 21%;
  }

  .residence-property-finder .form-group select {
    height: 55px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    background-color: rgba(255,255,255,0.5);

  }

 .btn-apply-filter{
    margin-top: 10px;
    background: #f58634;
    color: #fff;
    border-radius: 0;
    padding: 6px 28px;    font-weight: bold;
    border: none;
    margin-bottom: 7px;
  }

  .btn-apply-filter:hover{
    background: #f58634;
    color: #fff;
    border-radius: 0;
    border: none;
  }

  .btn-reset-selection{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
  }

  .btn-reset-selection i{
    color: #f58634;
  }

  .btn-reset-selection:hover{
    color: #fff;
  }
  /*=============================
  Luxery Residancy -container
  ================================*/
  .residency-section{
    padding-bottom: 50px;
    box-shadow: 0 4px 5px 0 rgba(229,229,229,0.14),0 1px 0px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  }
  .residency-container{
    padding: 20px 0;
    border-bottom: 1px solid #c5c3c3;
  }

  .header-residency-count{
    font-size: 35px;
    margin-right: 15px;
  }

  .header-residency-title{
    font-size: 12px;
  letter-spacing: 1px;
  }

  .residency-property-type{
    background: #fff;
    border: none;
    float: right;
    margin-right: 20%;
    font-size: 12px;font-weight: bold;
  }

  .view-type-icon{
    float: right;
    margin-right: 20%;
  }

  .view-type-icon a{
    color: #000;
    text-decoration: none;
  }

  .view-type-icon a:hover{
    color: #828080;
  }

  .view-type-icon i{
    padding: 0 3px;
  }

  /*===========================
  image hover effect css
  =============================*/

.platinum-bg .hovereffect .overlay{background-color: rgba(229, 229, 229,0.5);}
.platinum-bg .hovereffect a.info:hover {    box-shadow: 0 0 5px #6f6f6f;}
.platinum-bg .hovereffect a.info {   color: #5a5a5a;  border: 2px solid #5a5a5a;}

.commercial-bg .hovereffect .overlay{background-color: rgba(0, 0, 0,0.5);}
.commercial-bg .hovereffect a.info:hover {    box-shadow: 0 0 5px #fff;}
.commercial-bg .hovereffect a.info {   color: #fff;  border: 2px solid #fff;}




  .hovereffect {
    width:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
  }

  .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(245,134,52,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
  }

  .hovereffect img {
    width: 100%;
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
  }

  .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:2px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:7px 14px;
  }

  .overlay-margin-top{
    margin-top: 40%;
  }

  .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
  }

  .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }

  .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
  }

  .hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
  }

  .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
  }



.hovereffect{}
  /*===========================
  image hover effect css end
  =============================*/
  .residency-content .mg-top{
    margin-top: 30px;
  }

  .residency-img-buttom-text h4{
    margin: 0;padding: 16px 15px 14px 20px;
    /* text-transform: uppercase; */
    font-weight: lighter;
    font-size: 25px; text-transform: capitalize;
    font-family: verdana;
  }
  .residency-img-buttom-text h4 a{color:#333333; text-decoration: none;    font-size: 25px; text-transform: capitalize;
    font-family: verdana;
  }
  .residency-img-buttom-text h4 a:hover{color:#000000;text-decoration: none;  }

  .residency-img-buttom-text p{
    margin: 0;
    padding: 0px 15px 15px 20px;
    text-transform: capitalize;    font-size: 12px;font-family:verdana; color: #999999;
  }
  .residency-img-buttom-text p:last-child{color: #222222;font-family:verdana;    font-size: 11px;}
  .gold{
    color: #f58634;
    text-transform: capitalize;
  }

  .platinum{
    color: #969798;
    text-transform: capitalize;
  }

/*=============================
Luxery Residancy -container end
================================*/

/*======================================
Business-container
========================================*/
.business-section{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

.business-container{
  padding-top: 40px;
  padding-bottom: 80px;
}

.business-text{
  padding-bottom: 40px;
}

.business-content {
width: 100%;
float: left;
overflow: hidden;
position: relative;
cursor: default;
background: #000;
margin-bottom: 20px;
}

.business-content-text-padding{
  padding-left: 40px;
}

.business-content .business-content-text {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.business-content img {
  height: 350px;
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.business-content:hover img {
  opacity: 0.4;
}

.business-content h2 {
  text-transform: capitalize;
  color: #fff;
  position: relative;
  font-size: 25px;
  overflow: hidden;
  padding: 160px 0px 10px 0px;
  background-color: transparent;
}

.business-content h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.business-content:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

 .business-content p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

 .business-content:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.business-content-arrow{
  text-align: right;
   padding: 180px 20px 10px 0px;
}

.business-content-arrow .arrow-hover{
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.business-content-arrow .arrow-hover i{
  padding: 10px;
  font-size: 20px;
}

.business-content:hover .business-content-arrow .arrow-hover i{
  background: #f58634;
  border-radius: 100%;
  padding: 10px;
  font-size: 20px;
  transition: all 0.7s;
}

.block-with-text {
    max-width: 70%;
    max-height: 15%;
}
.block-with-text1 {
    max-width: 120%;
    color: white;

}

/*======================================
Business-container end
========================================*/

/*======================================
Clients-container
========================================*/
.clients-section{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  padding-bottom: 50px;
}

.clients-container{
  padding-top: 40px;
}

.clients-text{
  padding-bottom: 40px;
}

.clients-list-nav{
  list-style-type: none;
}

.clients-list-nav li{
  display: inline-block;
  margin-right: 10px;
}

.clients-list-nav li a{
  color: #bababa;
  padding: 15px 25px;
  border: 1px solid #bababa;
  text-decoration: none;
}

.clients-list-nav li:hover a{
  color: #f58634;
  border: 1px solid #f58634;
}

.clients-logo-bg{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #ebe8e8;
  display:table-cell;
  vertical-align:middle;
}

.clients-logo-bg img{
  width: 80%;
  height: auto;
  margin: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  transition: filter 1s;
}

.clients-logo-bg:hover img{
	filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.clients-logo{
  margin-bottom: 30px;
}
.clients-logo p{
  font-size: 16px;
  margin-top: 12px;
}

.clients-logo p span{
  font-size: 12px;
  margin-top: 10px;
  color: #928f8f;
}

/*======================================
Clients-container end
========================================*/

/*======================================
media-container
========================================*/
.media-section{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

.media-container{
  padding-top: 40px;
  padding-bottom: 80px;
}

.media-text{
  padding-bottom: 40px;
}

.media-content {
width: 100%;
float: left;
overflow: hidden;
position: relative;
cursor: default;
background: #000;
}

.media-content-text-padding{
  padding-left: 40px;
}

.media-content .media-content-text {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.media-content img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.media-content:hover img {
  opacity: 0.4;hero-section hero-banner-img
}

.media-content h2 {
  text-transform: capitalize;
  color: #fff;
  position: relative;
  font-size: 25px;
  overflow: hidden;
  padding: 160px 0px 10px 0px;
  background-color: transparent;
}

.media-content h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.media-content:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

 .media-content p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

 .media-content:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.media-content-arrow{
  text-align: right;
   padding: 180px 20px 10px 0px;
}

.media-content-arrow .arrow-hover{
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.media-content-arrow .arrow-hover i{
  padding: 10px;
  font-size: 20px;
}

.media-content:hover .media-content-arrow .arrow-hover i{
  background: #f58634;
  border-radius: 100%;
  padding: 10px;
  font-size: 20px;
  transition: all 0.7s;
}

/*======================================
media-container end
========================================*/


/*======================================
project-management-container
========================================*/
.project-management-section{
  padding: 50px 0px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
.project-management-grey-text{
  color: #828080;
}

.project-management-client .left{
  left: -10%;
  color: #000;
}

.project-management-client .right{
  right: -10%;
  color: #000;
}
/*======================================
project-management-container end
========================================*/

/*======================================
 contact container
========================================*/
.contact-section{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  padding-top: 50px;
  padding-bottom: 90px;
}

.contact-box{
  background-color: #f8f8f8;
  padding: 20px;
  min-height: 245px;
  margin-bottom: 20px;
}

.contact-grey-text{
  color: #666666;
  font-family: verdana;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.contact-form{
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #c2c2c2;
}

.contact-form .form-control{
  height: 50px;
}

.contact-form .textarea-address{
  height: 14.8%;
}

.contact-form .textarea-comment{
  height: 23.5%;
}

.contact-form .btn-clear{
  border: 1px solid #000;
  border-radius: 0;
  background-color: #fff;
  padding: 12px 25px;
}

.contact-form .btn-submit{
  border: none;
  border-radius: 0;
  background-color: #f58634;
  padding: 12px 25px;
  color: #fff;
}
.contact-box h2{font-size: 26px;
    font-family: 'didot';
    color: #333333;}





/*popup starts here*/

.coverimg { margin: 10px 0 }

.coverimg a {
  /*display: inline-block;
  width: 113px;
  height: 113px;*/
  overflow: hidden;
  position: relative
}

.coverimg img {
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  left: 50%;
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute
}

img[data-gallery] { cursor: pointer }
/*
.overlay {
  background: rgba(0,0,0,0.7);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999
}*/

.imgActive img {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 90%
}

.prev,
.next,
.close {
  transition: 0.3s ease all;
  display: inline-block;
  color: white;
  font-size: 6rem;
  opacity: 0.2;
  z-index: 1000
}

.prev:hover,
.next:hover,
.close:hover {
  cursor: pointer;
  opacity: 1
}

.prev,
.next {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%
}

.prev { left: 100px }

.next { right: 100px }

.close {
  font-size: 4rem;
  position: absolute;
  top: 20px;
  right: 20px
}

.coverImgOverlay {
  bottom: 20px;
  height: 100px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  width: 3000%;
  z-index: 1000
}

.coverImgOverlay span {
  display: inline-block;
  height: 100px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  width: 100px
}

.coverImgOverlay img {
  transition: 0.3s ease all;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  min-width: 100%;
  opacity: 0.2;
  width: auto
}

.coverImgOverlay img:hover { opacity: 1 !important }


/*popup ends here*/











/*======================================
 contact container end
========================================*/

/*======================================
 foreward container
========================================*/
  .foreward-section{
    padding: 50px 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .foreward-container .foreward-text{
    padding-left: 40px;
    text-align: justify;
  }
/*======================================
 foreward container end
========================================*/

/*======================================
 leadership container
========================================*/
.leadership-section{
  padding: 50px 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

.leadership-bg-grey{
  background-color: #f8f8f8;
}

.bg-white{
    background-color: #fff;
}
/*.bg-white-img{background-image: url(../img/nri-bg.jpg);}*/
.leadership-social-icon {
    list-style-type: none;
    padding: 0;
}

.leadership-social-icon li {
    display: inline-block;;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #d1d1d1;
    border-radius: 100%;
    cursor: pointer;
}

.leadership-social-icon li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}

.leadership-social-icon li a i{
    margin-top: 8px;
}

.leadership-social-icon .facebook-bg:hover{
    background-color: #3b5998;
}

.leadership-social-icon .twitter-bg:hover{
    background-color: #4099ff;
}

.leadership-social-icon .linkedin-bg:hover{
    background-color: #4875B4;
}

.leadership-img{
  width: 100%;
  height: 250px;
  background-color: #eaeaea;
}

.leadership-name{
  padding: 20px;
  background-color: #f8f8f8;
}

.leadership-name h3{
  margin-top: 0;
}

/*======================================
 leadership container end
========================================*/

/*======================================
  Press container end
========================================*/
.press-section{
  padding-bottom: 50px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
.press-container{
  padding: 20px 0;
}

.press-row-br-bottom{
  border-bottom: 1px solid #c5c3c3;
}

.press-date-filter{
  font-size: 35px;
  margin-right: 15px;
}

.press-type{
  font-size: 13px;
}

.press-media-type{
  background: #fff;
  border: none;
  float: right;
  margin-right: 20%;
}

.press-view-icon{
  float: right;
  margin-right: 20%;
}

.press-view-icon a{
  color: #000;
  text-decoration: none;
}

.press-view-icon a:hover{
  color: #828080;
}

.press-view-icon i{
  padding: 0 3px;
}

.date-filter {
    text-align: center;
    color: #000;
    padding: 10px;
}

.date-filter>div {
    border-right: 1px solid #b7b5b5;
}

.date-filter .date {
    margin-bottom: 0;
    font-size: 30px;
}

.date-filter .month {
    font-size: 13px;
    text-transform: uppercase;
}

.press-content {
    padding: 15px 0;
    color: #828080;
}

.press-content .source{
  color: #f58634;
}

.press-img{
  position: relative;
  cursor: pointer;
}

.press-img-overlay{
  position: absolute;
  top: 0;
  left: 10%;
}

.press-img-overlay a{
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  font-size: 20px;
  display: block;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000;
}
/*======================================
  Press container end
========================================*/

/*======================================
  award container end
========================================*/
  .award-section{
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .award-img-margin img{
      margin: auto;
  }

  .award-row-content{
    padding-bottom: 50px;
    border-bottom: 1px solid #cac8c8;
  }

  .award-row-content a{
    text-decoration: none;
    cursor: pointer;
  }

  .award-title-size{
    font-size: 21px;
    color: #827e82;
  }

  .award-subtitle-size{
    font-size: 16px;
    color: #827e82;
  }

  .award-title-small-size{
    font-size: 14px;
    color: #827e82;
    margin-bottom: 0px;
  }

  .award-subtitle-small-size{
    font-size: 10px;
    color: #827e82;
    margin-bottom: 0px;
  }

  #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
  }
  #quote-carousel .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
  }
  #quote-carousel .carousel-control.left {
      left: -10px;
  }
  #quote-carousel .carousel-control.right {
right: -10px;
  }
  #quote-carousel .carousel-indicators {
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-right: -19px;
  }

  #quote-carousel .carousel-indicators .active {
      background: #333333;
      width: 128px;
      height: 128px;
      border-radius: 100px;
      border-color: #f33;
      opacity: 1;
      overflow: hidden;
  }

  .item blockquote {
      border-left: none;
      margin: 0;
  }

  blockquote small::before {
    content: none;
  }

  .quote-color{
   color: #444444; font-family: verdana; text-align: center;font-size: 13px;
  }

/*======================================
  award container end
========================================*/

/*======================================
  Growth Chronicle container
========================================*/
  .chronicle-section{
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline li:nth-child(even) .timeline-icon:after{
  content: " ";
  border-top: 2px solid #c7c7c7;
  position: absolute;
  top: 9px;
  width: 40px;
}

.timeline li:nth-child(odd) .timeline-icon:before{
  content: " ";
  border-top: 2px solid #c7c7c7;
  position: absolute;
  top: 9px;
  left: -37px;
  width: 40px;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #c7c7c7;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 90%;
  float: left;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  z-index: 2;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-panel .timeline-body{
  background-color: #f8f8f8;
  color: #6c6c6c;
}

.timeline-panel .timeline-body h2{
  padding: 20px 20px 0px 20px;
  color: #000;
  margin: 0;
  font-family: 'didot', serif;
}

.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}

.timeline > li.timeline-inverted{
  float: right;
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

.timeline-badge .glyphicon-color{
  color: #f68736;
  background-color: #fff;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

.timeline > li.timeline-inverted{
  float: left;
  clear: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline > li.timeline-inverted > .timeline-badge{
  left: 28px;
}
}
/*======================================
  Growth Chronicle container end
========================================*/

/*======================================
  NRI container
========================================*/
.bg-black{
  background-color: #282828;
}
.nri-text-white{
  color: #fff!important;
}

.nri-path-col-padding{
  padding: 0;
}

.nri-path-link{
  padding: 10px 20px 10px 20px;
  background-color: #282828;
  margin-top: 110px;
  color: #aeaeae;
}

.nri-path-link a{
  text-decoration: none;
  color: #aeaeae;
  cursor: pointer;
}

.nri-content{
  padding-top: 30px;
  padding-bottom: 30px;
}

.nri-content h1{
  margin-top: 0;
  margin-bottom: 20px;
}

.nri-btn-share{
  color: #fff;
  background-color: transparent;
  border-color: #aeaeae;
  border-radius: 0;
  transition: background-color 0.5s, color 0.5s;
}

.nri-btn-share:hover{
  color: #000;
  background-color: #fff;
  border-color: #000;
  border-radius: 0;
}

/* Related News */
.bx-wrapper .bx-viewport {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: -5px;
  background: transparent;
}

.bx-wrapper .bx-pager{
  display: none;
}

.nri-related-news .bx-wrapper .bx-controls-direction a{
  top: 35%;
}

/*.nri-slide{
  width: auto !important;
  margin-right: 12px !important;
}*/
.nri-slide {
    width: 391px!important;
    margin-right: 14px !important;
}
.nri-news-content {
    padding: 15px 0;
    color: #828080;
}

.bx-controls-direction .bx-prev{
  left: -5% !important;
  z-index: 1 !important;
}

.bx-controls-direction .bx-next{
  right: -5% !important;
  z-index: 1 !important;
}

/* NRI feachers*/
.nri-feachers .nri-feachers-col-padding {
    padding: 0;
    height: 592px;
}

.nri-feachers img {
    width: 100%;
}

.nri-feachers-overlay {
    position: relative;
    cursor: default;
		width: 100%;
		float: left;
		overflow: hidden;
		background: #000;
}

.nri-feachers-overlay img {
	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	  transition: opacity 0.35s, transform 0.35s;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
    height: 592px;
	}

	.nri-feachers-overlay:hover img {
	  opacity: 0.4;
	}

.nri-feachers-overlay-text {
    position: absolute;
    bottom: 15%;
    left: 17%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.nri-feachers-overlay-text h2 {
    letter-spacing: 5px;
    font-size: 55px;
}

.nri-feachers-overlay .btn-default {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px 12px;
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
}

.nri-login-white-bg{
  background: #fff;
}

.nri-login-form{
  padding: 10%;
}

.nri-login-title{
  font-size: 65px!important;
  font-family: 'didot', serif;
  letter-spacing: 7px;
  color: #26405e;
  margin-bottom: 0;
}

.nri-login-subtitle{
  font-size: 25px;
  letter-spacing: 3px;
  color: #26405e;
}

.nri-input{
  border-left: none;
  border-right: none;
  border-top: none;
  background: transparent;
  border-bottom: 2px solid #26405e;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 10px;
  transition: border-bottom 0.5s;
}

.nri-input:focus{
  border-color: #f58634;
  box-shadow: none;
  -webkit-box-shadow: none;
}

a.nri-forgot-pwd {
  text-decoration: none;
  color: #26405e;
  letter-spacing: 1px;    font-size: 12px;
}

.nri-login-btn{
  color: #333;
  letter-spacing: 2px;
  background-color: #fff;
  border-color: #26405e;
  padding: 16px 20px;
  border: 2px solid #26405e;
  border-radius: 0;
}

.nri-login-btn:hover{
  color: #333;
  letter-spacing: 2px;
  background-color: #fff;
  border-color: #26405e;
  padding: 16px 20px;
  border: 2px solid #26405e;
  border-radius: 0;
}
/*======================================
  NRI container end
========================================*/

/*====================================
  static page
  =====================================*/
  .static-heading-text{
      color: black;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;

  }
  .static-para{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 60px;
  }
  .static-page{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
/*====================================
  static page End
  =====================================*/

/*======================================
  Property Details container
========================================*/
.property-slider{
    margin-top: 0px;
  padding: 0;
}

.property-slider .carousel-caption{
  top: 35%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.property-slider .carousel-caption .property-slider-title{
  font-size: 60px;
  margin-top: 0;
}

.property-slider .carousel-caption .property-slider-subtitle{
    font-size: 85px;
    margin-top: -5%;
}

.property-slider .carousel-inner img{
  width: 100%;
}

.property-path {
  position: absolute;
  top: 0;
  width: 100%;
  color: #FFF;
}


.property-path-link{
  padding: 10px 20px 10px 20px;
  background-color: #282828;
  color: #aeaeae;
  opacity: 0.8;
}

.property-path-link a{
  text-decoration: none;
  cursor: pointer;    color: #ffffff;
    opacity: .6;
    font-size: 11px;
}

.property-enquire-btn{
  position: absolute;
  top: 0;
  right: 0;
}

.property-enquire-btn .enquire-btn{
  border: none;
  border-radius: 0;
  padding: 24px 32px;
  color: #fff;
  background-color: #f58634;
  font-weight: bold;
}

/* property content section */
.property-content-section{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
    padding-top: 50px;
    padding-bottom: 50px;
}

.property-details-link li{
  list-style-type: none;
  display: inline-block;
  margin-right: 25px;
}

.property-details-link li a{
  text-decoration: none;
  color: #282828;
}

.property-details-link li:hover a i{
  color: #f58634;
}


/* circle images css */
.img-circle-slider{
  width: auto !important;
  margin-right: 14px !important;
  position: relative;
}

.img-circle-slider .text{
    display: none;
}

.img-circle-slider .img-overlay-count p{
  position: absolute;
  top: 28%;
  left: 45%;
  font-size: 65px;
  color: #fff;
}

.img-circle-slider img{
  width: 230px;
  height: 230px;
  margin: 0px 25px;
}

.property-img-circle .bx-wrapper .bx-controls-direction a{
  top: 50%;
}

/*=========== hr tag ================*/
.hr-color{
  border-top: 1px solid #c7c7c7;
}

/* key Amenities */

#KeyAmenities .KeyAmenities-portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	display:none;
	overflow:hidden;
}

	.KeyAmenities-portfolio .portfolio-wrapper {
		overflow:hidden;
		background: #666;
		cursor:pointer;
    position: relative;
	}

  .KeyAmenities-portfolio .portfolio-wrapper .portfolio-wrapper-overlay-text{
    position: absolute;
    bottom: 9px;
    left: 80px;
    text-transform: uppercase;
    color: #fff;
  }

  .KeyAmenities-portfolio .portfolio-wrapper  .portfolio-wrapper-overlay-icon{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .KeyAmenities-portfolio .portfolio-wrapper .portfolio-wrapper-indoor-game-text{
    position: absolute;
    top: 12px;
    left: 75px;
    text-transform: uppercase;
    color: #fff;
  }

  .KeyAmenities-portfolio .portfolio-wrapper  .portfolio-wrapper-indoor-game-icon{
    position: absolute;
    top: 10px;
    left: 20px;
  }

	.KeyAmenities-portfolio img {
		width:100%;
    height: auto;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}


  #KeyAmenities .col-padding {
    padding: 0;
  }

  #KeyAmenities .KeyAmenities-col-1and3-img{
    width: 100%;
    min-height: 350px;
  }

  #KeyAmenities .KeyAmenities-col-2-img{
    width: 100%;
    min-height: 175px;
  }

  /* Property layout and floor plan */
  #PropertyLayout .PropertyLayout-portfolio {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	display:none;
  	overflow:hidden;
    border: 1px solid #eee;
  }

  .PropertyLayout-portfolio p{
    font-family: verdana;
    color: #222222;
    background-color: #eee;
    margin: 0;
    padding: 20px;    font-size: 12px;
    letter-spacing: 1px;
  }

  .PropertyLayout-portfolio img{
    margin-top: 20px;
    margin-bottom: 20px;
  }

	.PropertyLayout-portfolio .portfolio-wrapper {
		overflow:hidden;
		//background: #666;
		cursor:pointer;
    position: relative;
	}

  .PropertyLayout-portfolio .portfolio-wrapper .portfolio-wrapper-overlay-text{
    position: absolute;
    bottom: 9px;
    left: 80px;
    text-transform: uppercase;
    color: #fff;
  }

  .PropertyLayout-portfolio.portfolio-wrapper  .portfolio-wrapper-overlay-icon{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .PropertyLayout-portfolio .portfolio-wrapper .portfolio-wrapper-indoor-game-text{
    position: absolute;
    top: 12px;
    left: 75px;
    text-transform: uppercase;
    color: #fff;
  }

  .PropertyLayout-portfolio .portfolio-wrapper  .portfolio-wrapper-indoor-game-icon{
    position: absolute;
    top: 10px;
    left: 20px;
  }

	.PropertyLayout-portfolio img {
		width:100%;
    height: auto;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

  .propertylayout-slider .propertylayout-img{
    width: auto !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
  }

  #PropertyLayout .bx-viewport{
    height: auto !important;
  }

  /* property type */
  /*===== property type image hover effect ======*/
  .property-hovereffect {
    width:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
  }

  .property-hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(245,134,52,0.8);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
  }

  .property-hovereffect img {
    width: 100%;
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    height: 352px;
  }

  .property-hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:2px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:7px 14px;
    width: 200px;
    cursor: pointer;
  }

  .overlay-margin-top{
      margin-top: 19%;
  }

  .property-hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
  }

  .property-hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }

  .property-hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
  }

  .property-hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
  }

  .property-hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
  }


  .property-img-buttom-text{background-color: #f8f8f8;}

  .property-img-buttom-text h4{
    margin: 0;
    padding: 25px 15px 15px 20px;
    font-weight: lighter;
    font-size: 25px; text-transform: capitalize;
    font-family: verdana;
  }  .property-img-buttom-text h4 a{color:#333333; text-decoration: none;    font-size: 25px; text-transform: capitalize;
      font-family: verdana;
    }
  .property-img-buttom-text p:first-child {color: #999999;}

  .property-img-buttom-text p{
    font-size: 12px;
    margin: 0;
    padding: 0px 15px 15px 20px;
    text-transform: uppercase;     font-size: 12px;font-family:verdana; color: #999999;
  }
  .property-img-buttom-text p:last-child{color: #222222;font-family:verdana;    font-size: 11px;}





  .PropertyType .mg-top{
    margin-top: 30px;
  }
  /*===== property type image hover effect end =====*/
  /*property static box */
  .property-feachers-overlay {
      position: relative;
      cursor: default;
  		width: 100%;
  		//height: 100%;
  		float: left;
  		overflow: hidden;
  		background: #000;
  }

  .property-feachers-overlay img {
  	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  	  transition: opacity 0.35s, transform 0.35s;
  	  -webkit-backface-visibility: hidden;
  	  backface-visibility: hidden;
      height: 475px;
  	}

  	.property-feachers-overlay:hover img {
  	  opacity: 0.4;
  	}

  .property-feachers-overlay-text {
      position: absolute;
      bottom: 15%;
      left: 7%;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
  }

  .property-feachers-overlay-text p {
      letter-spacing: 4px;
      font-size: 23px;
  }

  .property-feachers-overlay-text h2 {
      letter-spacing: 5px;
      font-size: 45px;
  }

  .property-feachers-overlay .btn-default {
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      padding: 10px 12px;
      border: 1px solid #fff;
      text-transform: uppercase;
      border-radius: 0;
  }

  .property-feachers-3rd-col{
    bottom: 5%;
  }

  .property-feachers-3rd-col a{
        color: #3d3d3d;
    cursor: pointer;
  }

  .property-feachers-overlay-text .feachers-3rd-text-size {
      color: #055279;
      font-size: 45px;
      bottom: 0;
  }
  /* property static box end*/
  /* property type end */

  /* Enquiry Form popup */
  .enquire_modal-content{
    border: none;
    border-radius: 0;
  }

  .enquire_modal-header{
    padding: 0;
    position: relative;
  }

  .enquire_modal-header-overlay{
    position: absolute;
    top: 31%;
    left: 35%;
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
  }

  .enquire_modal-header-1st-title{
    font-size: 28px;
    margin: 0;
  }

  .enquire_modal-header-2nd-title{
    font-size: 40px;
    margin-top: -15px;
  }

  .enquire_now-form{
    padding-right: 15%;
    padding-left: 15%;
  }

  .enquire-input{
    font-size: 13px;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    border-bottom: 1px solid #26405e;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 10px;
    transition: border-bottom 0.5s;
  }

  .enquire-input:focus{
    border-color: #f58634;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .enquire-reset-btn{
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #8e8b8b;
    color: #8e8b8b;
  }

  .enquire-submit-btn{
    padding: 8px 16px;
    background-color: #f58634;
    border: 1px solid #f58634;
    color: #fff;
    border-radius: 0;
  }

  .enquire-submit-btn:focus, .enquire-submit-btn:hover{
    padding: 8px 16px;
    background-color: #f58634;
    border: 1px solid #f58634;
    color: #fff;
    border-radius: 0;
  }

  .enquire_now-form .btn-default:active{
    padding: 8px 16px;
    background-color: #f58634;
    border: 1px solid #f58634;
    color: #fff;
    border-radius: 0;
  }

  .esc-close{
    padding-top: 10px;
    color: #fff;
    margin: 0;
  }

  /* Enquiry Form popup end */

  /* gallery popup */
  .gallery-modal-content{
      border-radius: 0;
      border: none;
  }

  #gallery .ug-strip-panel{
    background-color: #fff !important;
  }

  #gallery .ug-zoompanel{
    display: none;
  }

  #gallery .ug-strip-arrow{
    background: #fff;
  }
  .ug-theme-default .ug-default-button-play, .ug-theme-default .ug-default-button-fullscreen{     display: none;  }
  .gallery-padding{ padding: 10px;  }
  .ug-textpanel-bg{  	background-color:#fff!important;opacity: 1!important;}
.ug-gallery-wrapper .ug-textpanel-description{color: #222222!important;font-size: 12px;font-family: verdana;}



  /* gallery popup */

  /* Property layout anf floor plans popup */

  #floor_plans .ug-slider-wrapper{
    background: #fff !important;
  }

  #floor_plans .ug-zoompanel{
    background: rgba(0,0,0,0.5);
    padding: 5px;
  }

  #floor_plans .ug-arrow-left, #floor_plans .ug-arrow-right {
    display: none;
  }

  #floor_plans .ug-theme-panel{
      display: none;
      height: 0 !important;
      bottom: -68px;
      top: none !important;
  }

  /*#floor_plans .ug-slider-inner, #floor_plans .ug-slide-wrapper, #floor_plans .ug-item-wrapper{
    height: 100% !important;
  }*/
  /* Property layout anf floor plans popup end */

  /* specifications popup */
  .specifications-modal-content{
      border-radius: 0;
      border: none;
  }

  .specifications-popup-list{
    padding-left: 17px;
    color: #666666;    list-style-type: disc;    font-family: verdana;
    font-size: 13px;
    line-height: 23px;
  }

  .specifications-pd-right{
    padding-right: 30px;
  }
  .specifications-pd-right h2{
  font-family: verdana;color: #333333;
  }
  .specifications-pd-right h3{
 color: #666;
  }

  .specifications-pd-right ol{list-style-type: decimal;font-family: verdana;font-size: 11px;}


  /* specifications popup end */
/* property content section end */


/*======================================
  Property Details container end
========================================*/

/*======================================
  hospitality container
========================================*/
.hospitality-title-img{
  margin: auto;
}
/*======================================
  hospitality container end
========================================*/

/*======================================
  Commercial container
========================================*/
.commercial-slider-title{
  font-size: 40px;
  text-transform: capitalize;
}

.commercial-slider-subtitle{
  font-size: 32px;
  margin-top: -20px;
  text-transform: uppercase;
}

.specifications p{
  color: #6c6b6b;
}

.specifications h3{
  margin-top: 0;
}

.specifications-area{
  color: #6c6b6b;
  margin-bottom: 0;
}





/*======================================
  Commercial container end
========================================*/


/*protected css */
.fontsize-h1{font-size: 50px; background-size: 52%!important;}
.homepage-top-thumb{text-align: center;}
.homepage-top-thumb img{width:50px; height: 45px;}
.block-homepage-top {vertical-align: top;    width: 185px;    display: inline-block;    text-align: left;    margin: 0px;    text-align: center;    padding: 20px 0;
    margin: 0 17px;}
.border-bottom{border-bottom: 1px solid #d6d2d2;}
.block-homepage-top p{    font-family: 'verdana';    color: #555555;    font-size: 13px;}
.block-homepage-top h2{margin: 0;font-family: 'didot', serif;font-size: 25px;color: #2d2d2d;}


.retail-inner-text{width: 100%;text-align: center;}
.retail-inner-text h2{font-family: 'verdana';font-weight: bold; font-size: 11px; color: #222;text-shadow: none;margin-bottom: 0px;}
.retail-inner-text h5{font-family: 'verdana'; font-size: 10.5px; color: #222;margin-top: 0px; line-height: 23px;}


/*footer*/
/*.sliderside {}*/

.relativetxt__text {
    /* protected.css 416    (.ng-binding) */
    border: 2px solid #fff;
    width: 50%;
    margin: 25%!important;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 30px;
    border-radius: 0px;
    padding: 15px;
    transition: 1s all;
    /*  protected.css 375  (.relativetxt p )*/
    font-style: normal;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    /**/
}

.relativetxt__text.isHover {
    border: none;
    position: relative;
    background: transparent;
    margin: 10%!important;
    width: 80%;
}

.relativetxt__text.isHover:before,
.relativetxt__text.isHover:after {
    content: " ";
    position: absolute;
    border: solid 2px #fff;
    width: 30%;
    height: 4em;
}

.relativetxt__text.isHover:before {
    border-width: 2px 0 0 2px;
    top: 0;
    left: 0;
}

.relativetxt__text.isHover:after {
    border-width: 0 2px 2px 0;
    bottom: 0;
    right: 0;
}

.relativetxt__text .relativetxt__text__heading {
    /*float: left;*/
    text-align: left;
    width: 100%;
}

.relativetxt__text__projectList {
    /*display: none;*/
    list-style: none;
    font-size: .8em;
    display: none;
    line-height: 2.5em

}

.relativetxt__text.isHover .relativetxt__text__projectList {
    display: block;
    padding:1em 0 4em 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
.relativetxt__text__projectList  a{

    text-decoration: none;
    color: #fff;
}
/*footer*/

.relativetxt__text {/*  background-color: rgba(0, 0, 0, 0.3)!important;*/}

.footer-quick-link{     margin-right: 35px;}
.awards-clients b{color: #222222;    font-family: verdana;    font-size: 13px;}
.awards-clients small {color: #777;font-family: verdana;letter-spacing: 1px;  font-size: 13px;}

.awards-controls .fa{border-radius: 0;    width: 18px;    height: 18px;    padding: 7px;    border: 1px solid #000;}
.awards-controls .fa-chevron-right:before{display: none;}


.bx-controls-direction .bx-prev{border-radius: 0;    width: 18px;    height: 18px;    padding: 0px;    border: 1px solid #000;}
.bx-controls-direction .bx-next{border-radius: 0;    width: 18px;    height: 18px;    padding: 0px;    border: 1px solid #000;}

.bx-controls-direction .bx-prev{background: none;}
.bx-controls-direction .bx-next{background: none;}
.bx-wrapper .bx-controls-direction a {width: 8px;    height: 8px;    padding: 5px;}


.leadership-info h2{font-family: 'didot';color: #222222;}
.leadership-info h5, .leadership-name h5{font-family: 'verdana';font-size: 12px;color: #666666;}






.leadership-name a h3,
.leadership-name a p {
    color: #333;
}

.leadership-name a:hover,
.leadership-name a:hover {
    /*color: #333;*/
    text-decoration: none;
}
.logo-contnt-leader{width:270px;}.desc-content-leader{padding: 30px;}
.desc-content-leader h2{font-family: 'didot';margin-top: 0px;}
.desc-content-leader h5{font-family: 'verdana';
font-size: 12px;
color: #666666;}
.desc-content-leader a{
  padding: 10px 10px!important;
     border: 0px solid #444444!important;
  }


.margin-btm{margin-bottom: 8px;}
.clients-logo-main {float: left!important;}

.block-clients h4{font-family: verdana; font-size: 12px; color: #222222;letter-spacing: 1px;line-height: 10px;text-align: center;}
.block-clients h3{font-family: verdana; font-size: 10px; color: #999999;line-height: 10px;marigin-top:0px!important;text-transform: uppercase;text-align: center;}



.block-clients {
/*background: green;*/
/*height: 100px;*/
/*width: 100px;*/    width: 185px;
display:inline-block; text-align: left;
margin: 0px 10px 50px 0px;
}
.container-clients {
    width: 100%;
    background: transparent;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.enquiry-txt{ font-family: 'didot';}
.contact-enquiry .form-control{font-family: verdana;    color: #222222;    font-size: 12px;}

.contact-enquiry .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: verdana;    color: #222222!important;    font-size: 12px;
}
.contact-enquiry .form-control::-moz-placeholder { /* Firefox 19+ */
font-family: verdana;    color: #222222!important;    font-size: 12px;
}
.contact-enquiry .form-control:-ms-input-placeholder { /* IE 10+ */
font-family: verdana;    color: #222222!important;    font-size: 12px;
}
.contact-enquiry .form-control:-moz-placeholder { /* Firefox 18- */
font-family: verdana;    color: #222222!important;    font-size: 12px;
}
.map-slider{   position: absolute;
    left: 10px;
    top: 10px;
    width: 354px;
      height: 430px;
    z-index: 10000;
    background-color: #fff;}

  .map-slider #quote-carousel .carousel-control {background-color: #f58434;  color: #ffffff;font-size: 14px;text-shadow: none;margin-top: 30px;
        opacity: 1;padding-top: 8px;}
        .map-slider #quote-carousel .carousel-control.right {right: -30px;height: 30px;width: 30px;    top: 405px;}
            .map-slider #quote-carousel .carousel-control.left {    left: 354px;height: 30px;  width: 30px;top: 370px;}
.map-slider #quote-carousel {padding: 0px;    margin-top: 0px;}


.nri-text-white p{    font-family: verdana;    font-size: 13.5px;    line-height: 23px;}





.nri-feachers-last .feachers-overlay-text {    bottom: 15%;    left: 16%;    width: 70%!important;}

.nri-feachers-last .feachers-btn .btn-default {    background: rgba(0, 0, 0, 0);    color: #222;    border: 2px solid #26405e;letter-spacing: 2px;}
.nri-feachers-last .feachers-btn .btn-default:hover     {    background: rgba(0, 0, 0, 0);    color: #222;    border: 2px solid #26405e;letter-spacing: 2px;}

.nri-section .bx-controls-direction .bx-prev, .nri-section .bx-controls-direction .bx-next  {   border: 1px solid #fff;}
.nri-input{ font-size: 14px!important;  color: #555!important;}

.homepage-banner .carousel-caption{position: fixed!important;width: 862px;    height: 300px; margin: 0 auto; bottom: 0px;padding: 0px 50px;}

.homepage-banner .carousel-indicators{display: none;}

.update-nrinews p{color: #fff;}



/*protected css */






/*======================================
  REC container
========================================*/
  .rec-section{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .rec-login-bg{
    background-color: #f8f8f8;
  }

  .rec-login-form{
    padding-right: 10%;
    padding-left: 10%;
  }
/*======================================
  REC container end
========================================*/


/*media starts here*/
@media screen and (min-width: 1920px){

  .silder-controls {  top: 49%;  left: 79.5%;}

}
@media screen and (min-width: 1900px){
  .slider-over-text { margin-left: 13%;}

  /*.silder-controls {      top: 68.7%;    left: 71%;}*/
  .silder-controls {    top: 55.7%;    left: 68%;}


    .feature-project-luxury {
        margin-top: 27%;}
        .feachers-overlay-text {left: 25%;}
        .last-section .feachers-overlay-text {left: 29%;}


 }

 /*@media screen and (min-width: 1600px){

 .silder-controls {
     top: 50%;
     left: 73%;}
}*/
 @media screen and (max-width: 1600px){

 /*.silder-controls {     top: 56%;     left: 71.7%; }*/
 .silder-controls { top: 56%;    left: 72.3%;}

}

@media screen and (min-width: 1024px){

.hovereffect img {    width: 360px;    height: 353px;}

}

/* Desktops and laptops ----------- */
@media only screen
and (min-device-width : 1200px)
and (max-device-width : 1440px) {
  .silder-controls {  left: 73.7%;}
  .feachers-overlay-text {      bottom: 15%;      left: 18%}
  .silder-controls {
    top: 51%;
    left: 73.7%;}

/* STYLES GO HERE */
}

@media screen and (max-width: 1366px){

/*.silder-controls {top: 58%;    left: 73.9%;}*/
/*.silder-controls{top: 50%;left: 76.9%;}*/
.silder-controls{top: 49%;left: 77.3%;}


}


@media screen and (max-width: 1280px){
  .slider-over-text {    margin-left: 0%;}
  .slider-over-text {    width: 742px;    height: 300px;    margin-left: auto;}
.feachers-overlay-text {    position: absolute;    bottom: 15%;    left: 15%;}
.silder-controls {    top: 52%;    left: 73%;}

}



/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .navbar-nav>li>a {    padding: 10px 10px;    font-size: 12px;}
  .contact, .location-map, .follow-us{    padding: 30px 0px!important; }
  .relativetxt__text {width: 62%;margin: 22%;}
    .cd-main-header {height: 120px;}
        .footer-quick-link {margin-right: 54px;}
        .footer-quick-link {margin-right: 17px;}
        .feachers-overlay-text {   bottom: 30%;    left: 30%;}
.last-section .feachers-overlay-text{  left: 35%;}
.residence-property-finder .form-group { width: 25%;}
.residence-property-finder .form-group select { height: 35px;}
.banner-luxury h1 {  line-height: 50px!important;}
.residence-property-finder .form-group { padding: 0 3px;}
.header-residency-title { font-size: 11px;}
.property-feachers-overlay-text {   width: 85%;}
.property-feachers-overlay-text h2 {font-size: 35px;}
.property-feachers-overlay-text .feachers-3rd-text-size{font-size: 35px;}
.property-slider .carousel-caption .property-slider-title {    font-size: 35px;}
.property-slider .carousel-caption .property-slider-subtitle {       font-size: 39px;}
.bx-controls-direction .bx-prev {   left: -1% !important;}
.bx-controls-direction .bx-next {  right: -1% !important;}

.bx-wrapper{width: 860px;}

.cd-logo {    top: 18px;}
.property-slider {    margin-top: -1px}
.property-enquire-btn .enquire-btn {   padding: 14px 22px;}
.specifications-pd-right{padding: 30px;}
.specific-image-wid{width: 100%;}

.enquire_now-form {    padding-right: 8%;    padding-left: 8%;}

.filter-nav li a {  padding: 7px 18px;}
.overlay-margin-top {      margin-top: 30%;}

.contact, .location-map { border-right: 0px solid #a2a1a1;}
.block {   width: 174px;}

.property-hovereffect img {    height: auto;}
.cd-search input {    font-family: 'didot-bold'!important;    font-size: 16px;}
.margin-btm {    margin-bottom: 2px;}
.slider-over-text{ width: 100%;padding: 20px 95px 0px 95px;}
.slider-over-text .content-title {   font-size: 35px;}
.silder-controls {     top: 51%;    left: 70.4%;}
.metrics {    padding: 20px 0;    margin: 0 12px;}

.nri-slide {
    width: 254px!important;
    margin-right: 20px !important;
}

.nri-slide .NewsUpdate .date {  font-size: 21px;  }
.nri-slide .NewsUpdate{padding: 16px 14px;}
.nri-news-content p{font-size: 12px;}


.homepage-banner .carousel-caption {    width: 62%;    padding: 0px 30px;}
.fontsize-h1{font-size: 25px;    background-size: 92%!important;}


.service-container h2{  padding:80px 20px 10px 0px;}
.service-container-arrow {   padding: 90px 20px 10px 0px;}






  /* STYLES GO HERE */
}

@media screen and (max-width: 768px){
.bx-wrapper{width: 580px;}
.bx-controls-direction .bx-prev {    left: -7% !important;}.bx-controls-direction .bx-next {    right: -6% !important;}
#KeyAmenities .KeyAmenities-col-2-img {  min-height: auto;}
#KeyAmenities .KeyAmenities-col-1and3-img{     min-height: 217px;}





}
@media screen and (max-width: 360px){

.fontsize-h1{font-size: 25px;    background-size: 92%!important;}
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  body{overflow-x: hidden;}
  .business-content img {
    height: auto;}
    /*.contact {
        padding: 30px 30px;}*/
        .residence-property-finder .form-group { padding: 0 2px;}
.banner-luxury form{    margin: 0 10px;}
.banner-luxury h1 {    font-size: 18px; margin-bottom:5px!important;  line-height: 40px!important;}
.banner-luxury form .form-control{font-size: 12px;    height: 31px!important;}
.residency-container {    padding: 20px 15px;}
.footer {    padding: 30px 15px;}
.location-map {   border-right: 0px solid #a2a1a1;    padding: 10px 0px;}
.follow-us{  padding: 10px 0px; }.follow-us h5,.follow-us ul{text-align: center;}
.sliderside{   display: block!important;}





.property-enquire-btn {  display: none;}
.property-slider .carousel-inner img {   height: 240px;}
.property-slider .carousel-caption .property-slider-title {font-size: 23px;}
.property-slider .carousel-caption .property-slider-subtitle {    font-size: 20px;}
    .bx-controls-direction .bx-prev {display:none;}
.bx-controls-direction .bx-next{display:none;}
.bx-wrapper {    width: 100%;}
.img-circle-slider img {    width: 246px;}
    .img-circle-slider .img-overlay-count p {left: 49%;}
    .filter-nav li a {padding: 5px 10px; margin: 3px 0px;font-size: 12px;}
#KeyAmenities .KeyAmenities-portfolio{width: 100%;}
.propertylayout-slider .propertylayout-img {   margin-left: 45px !important;    margin-right: 45px !important;}
.property-feachers-overlay-text {   width: 85%;}
.property-feachers-overlay-text h2 {font-size: 35px;}
.property-feachers-overlay-text .feachers-3rd-text-size{font-size: 35px;}
.property-feachers-overlay img{height: auto;}





.cd-primary-nav{padding-left: 0px;}

.block { width: 100%;}
.contact{border-right: 0px;}
.contact h5,.contact p{text-align: center;}
.feachers-overlay-text h2 {  font-size: 36px;}

.feachers-first .feachers-overlay-text {  left: 4%;}
.feachers-overlay-text {    left: 20%;}



.business-content h2 {    font-size: 18px;    padding: 10px 0px 10px 0px;}
.business-content-text-padding {    padding-left: 10px;}
.business-content p {   font-size: 11px;}
.business-content .business-content-text {    padding: 10px 19px;}
.business-content-arrow {   padding: 10px 20px 10px 0px;}
.commercial-slider-title { font-size: 23px;    letter-spacing: 0px;}
.property-slider {    margin-top: -3px;}



.cd-secondary-nav{    padding-left: 0px;}
.specifications-pd-right{padding: 30px;}


.property-img-buttom-text h4 {   padding: 18px 12px 12px 18px;   font-size: 21px;}

.enquire_modal-header-overlay {   top: 23%;   left: 21%;}
.enquire_now-form {padding-right: 4%;    padding-left: 4%;}
.overlay-margin-top { margin-top: 12%;}


.offering-container .offering-container-hover-title {  padding: 70px 0px 10px 0px;}
.offering-container-text-padding {    padding-left: 20px;}
.offering-container-arrow {    padding: 0px 5px 10px 0px;}
.offering-container .offering-container-hover-title .title, .offering-container .offering-container-hover-title .property-count{  font-size: 18px;}
.offering-container:hover .offering-container-arrow .arrow-hover i {  font-size: 10px;}
.offering-container-arrow i{  font-size: 10px;}
.offering-container-arrow .arrow-hover i {font-size: 16px;}



.service-container-arrow .arrow-hover i {    font-size: 16px;}
.service-container:hover .service-container-arrow .arrow-hover i{      font-size: 10px;}


.business-content-arrow .arrow-hover i{  font-size: 16px;}
.business-content:hover .business-content-arrow .arrow-hover i{      font-size: 10px;}


.offering-container:hover p { font-size: 12px;}





.property-hovereffect img {    height: auto;}

.metrics {   margin: 0 0px;}
.feature-slider .carousel-indicators{    left: 39%;   width: 80%;}

.last-section .feachers-overlay-text {  left: 9%;}
.feachers-overlay-text .feachers-3rd-text-size { font-size: 40px;}

.map-slider {   width: 90%;    height: 390px;}
.map-slider #quote-carousel .carousel-control.right {   top: 330px;}
.map-slider #quote-carousel .carousel-control.left {     left: 261px; top: 295px;}

.nri-feachers .feachers-overlay-text h2 {    font-size: 30px;}


.homepage-banner .carousel-caption {   width: 75%;    padding: 0px 10px;}

/*.silder-controls {     top: 51%;    left: 62.4%;}*/

    .silder-controls {    top: 40%;  left: 62.4%;}


.service-container h2{  padding: 10px 0px 10px 0px;font-size: 18px;}
.service-container-arrow { padding: 10px 0px 10px 0px;}
.service-container img {width: calc(210% + 20px);}
.service-container .service-container-text {   padding: 10px 19px;}
.service-container-text-padding {   padding-left: 20px;}
  .service-container p { font-size: 11px;}


.media-content h2{  padding: 10px 0px 10px 0px;font-size: 18px;text-shadow: 1px 1px 1px #000;}
.media-content-arrow { padding: 10px 0px 10px 0px;}
.media-content img {    width: calc(130% + 20px);}
.media-content .media-content-text {   padding: 10px 19px;}
.media-content-text-padding {   padding-left: 20px;}
.media-content:hover p{ font-size: 11px;}
.media-content-arrow .arrow-hover i {    font-size: 16px;}
.media-content:hover .media-content-arrow .arrow-hover i{      font-size: 10px;}



.media-content1 img{  width: calc(250% + 20px);}







/* STYLES GO HERE */
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .fontsize-h1{font-size: 25px;    background-size: 92%!important;}


/* STYLES GO HERE */
}
