
.feature-slider .carousel-control .glyphicon-chevron-right {
    width: 50px;
    height: 50px;}

    .cd-logo {
    top: 18px;
    left: 4em;
}
.metrics p {
    margin-top: 10px;
    font-family: 'verdana';color: #555555;font-size: 13px; line-height: normal;
    text-transform: capitalize;
}

.metrics h2 {
    margin: 0;font-family: 'didot', serif;
    font-size: 25px;
    color: #2d2d2d;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;}
    .projects h3 {
    font-size: 25px;
}
.banner-glyphicon {
  float: right;
      font-size: 16px!important;
      left: 40px!important;
      top: -4px!important;
      padding: 12px;}
      .feature-project-share-icon{    padding: 23px;
    background: #cbcbcb;
    color: #fff;    font-size: 17px;}


    .feature-project-luxury h3{    font-family: verdana;
    font-size: 26px;
    color: #222222;    line-height: 18px;}
      .feature-project-luxury p{      color: #222222;  line-height: 21px;}
      .feature-project-luxury span{    font-size: 13px; color: #666666;    font-weight: bold;
    letter-spacing: 0.7px;}



    .feature-slider .carousel-control .glyphicon-chevron-left {   border-radius: 0;width: 8px;    height: 8px;    padding: 5px;}
    .feature-slider .carousel-control .glyphicon-chevron-right {   border-radius: 0;width: 8px;   height: 8px;    padding: 5px;}
    .carousel-control {        width: 6%;}
.glyphicon-chevron-left:before{content: ""!important;}
.glyphicon-chevron-right:before{content: ""!important;}
.feature-project-luxury { margin-top: 25%;}

.common-btn .btn-default {
    font-size: 12px;
    letter-spacing: 1px;
}.projects-section {       padding: 60px 25px;}

.footer-quick-link h5 {   font-size: 11px;letter-spacing: .6px;   cursor: pointer;    font-family: verdana;text-align: center;}
.footer-quick-link ul li a{font-size: 11px;    font-family: verdana;}
.footer-quick-link ul li i {     margin-right: 8px!important;}
.footer-header-padding {
    padding-bottom: 20px;
    font-size: 12px;
    color: #000;
}.office-address {
    color: #999999;
    font-size: 11.5px;
    font-family: verdana;
    line-height: 19px;
}.office-location {    text-transform: uppercase;    font-size: 12px;    color: #000;    line-height: 28px;}
.contact-no p{    font-size: 12px;   line-height: 23px;}
.social-icon .fa:first-child{padding:0px;font-size: 30px;
    width: 24px;
}
    .social-icon .fa{font-size: 30px;
        width: 24px;
margin-right: 10px;}
.login-signup{vertical-align: middle!important;font-size: 15px;}

.flexside img{max-width:none;}





.vertical-text{vertical-align:middle;    line-height: 9px; font-size: 25px!important;}
.vertical-image{float:left;width:7px!important; height:7px;}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
z-index: 0;
}



/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
.feature-slider .carousel-indicators { top: 4%;}
.feature-project-luxury {       margin-top: 4%;}.cd-logo {    top: 18px;    left: 3em;}
.cd-header-buttons {  right: 3em;}


}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
.feature-project-luxury h3 {  font-size: 20px;}
}
