



/* Desktops and laptops ----------- */
@media only screen
and (min-device-width : 1200px)
and (max-device-width : 1440px) {
  .silder-controls {  left: 73.7%;}




/* STYLES GO HERE */
}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .navbar-nav>li>a {    padding: 10px 10px;    font-size: 12px;}
  .container.footer{
    text-align: center;
  }
/* STYLES GO HERE */
}




/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
.container.footer{
  text-align: center;
}
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
   .container.footer{
    text-align: center;
  }
/* STYLES GO HERE */
}
