.bodyColor {
  background-color: $lighterBlue;
}
.formContainer {
  background-color: $white;
  margin-top: 30%;
  border-radius: $margin;
}
.clientDisplay {
	max-width: 22%;
	overflow: auto;
    max-height: 27%;
    overflow-wrap: break-word;
    position: absolute;
    padding: 10px;
    background-color: #eee;
    margin: 4px;
    border: 1px solid #d2d6de;
}
.headerDisplay {
	max-width: 20%;
	overflow: auto;
    max-height: 15%;
    overflow-wrap: break-word;
    position: absolute;
    padding: 10px;
    background-color: #eee;
    margin: 4px;
    border: 1px solid #d2d6de;
}
.contUsDisplay {
  @extend .headerDisplay;
  width: 36%;
  max-width: 37%;
  max-height: 50%;  
}
.enquiryDisplay{
   @extend .headerDisplay;
    max-height: 57%;
    max-width: 27%;
}
.businessDisplay{
   @extend .headerDisplay;
    max-height: 57%;
    max-width: 17%;
}
.businessCatDisplay{
   @extend .businessDisplay;
   max-width: 25%;
   max-height: 13%;
}

.growthDesc {
  @extend .headerDisplay;
  max-height: 125px;
  max-width: 34%;
  width: 45% !important;
}
.growthYear {
  @extend .headerDisplay;
  width: 15%;
}

.contactdisplay{
  max-width: 180px;
  overflow: auto;
        max-height: 42px;
    overflow-wrap: break-word;
    position: absolute;
    padding: 10px;
    background-color: #eee;
    margin: 4px;
    border: 1px solid #d2d6de;
}
.pressDisplay{
   @extend .headerDisplay;
   max-width: 19%;
   max-height: 35%;
}
.press-checkbox{
  height: 36px;
    width: 20px;
}
