/*@import url(lib/bootstrap/css/bootstrap.min.css);*/
/*@import url(lib/font-awesome/css/font-awesome.min.css);*/
/*@import url(lib/private/privateLte/css/dataTables.bootstrap.css);*/
/*@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css";*/
/*@import "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css";*/
/*@import url(lib/private/privateLte/css/AdminLTE.min.css);*/
/*@import url(lib/private/privateLte/css/_all-skins.min.css);*/
.bodyColor {
  background-color: #AED6F1; }

.formContainer {
  background-color: #ffffff;
  margin-top: 30%;
  border-radius: 10px; }

.clientDisplay {
  max-width: 22%;
  overflow: auto;
  max-height: 27%;
  overflow-wrap: break-word;
  position: absolute;
  padding: 10px;
  background-color: #eee;
  margin: 4px;
  border: 1px solid #d2d6de; }

.headerDisplay, .contUsDisplay, .enquiryDisplay, .businessDisplay, .businessCatDisplay, .growthDesc, .growthYear, .pressDisplay {
  max-width: 20%;
  overflow: auto;
  max-height: 15%;
  overflow-wrap: break-word;
  position: absolute;
  padding: 10px;
  background-color: #eee;
  margin: 4px;
  border: 1px solid #d2d6de; }

.contUsDisplay {
  width: 36%;
  max-width: 37%;
  max-height: 50%; }

.enquiryDisplay {
  max-height: 57%;
  max-width: 27%; }

.businessDisplay, .businessCatDisplay {
  max-height: 57%;
  max-width: 17%; }

.businessCatDisplay {
  max-width: 25%;
  max-height: 13%; }

.growthDesc {
  max-height: 125px;
  max-width: 34%;
  width: 45% !important; }

.growthYear {
  width: 15%; }

.contactdisplay {
  max-width: 180px;
  overflow: auto;
  max-height: 42px;
  overflow-wrap: break-word;
  position: absolute;
  padding: 10px;
  background-color: #eee;
  margin: 4px;
  border: 1px solid #d2d6de; }

.pressDisplay {
  max-width: 19%;
  max-height: 35%; }

.press-checkbox {
  height: 36px;
  width: 20px; }

.containt {
  width: 600px; }

.errormessagePadMag, .errorMessage {
  margin-bottom: 10px; }

.featureImages {
  height: 130px;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  background-color: black;
  margin-top: 5px;
  margin-left: 4px;
  width: 100%; }

.headline {
  color: #138D75;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 10px 0; }

.boldText {
  font-weight: bold; }

.errorMessage {
  text-align: center;
  color: #FF0000;
  font-weight: bold;
  font-size: 18px; }

.blueButton {
  background-color: #22a0da;
  text-align: center;
  color: white;
  height: 30px;
  padding: 5px;
  margin: 0px 6px 13px;
  width: 44%;
  cursor: pointer;
  float: right; }

.login-button {
  padding-right: 0px; }

.blue-button-1, .business-blue-button {
  background-color: #22a0da;
  text-align: center;
  color: #ffffff;
  height: 30px;
  padding: 5px;
  margin: 45px 0.2%;
  width: 15%;
  cursor: pointer;
  float: right; }

.business-blue-button {
  margin: 10px 0.2%; }

.droper, .droper option {
  cursor: pointer; }

/*# sourceMappingURL=protected.css.map */

.banner-nri{
  width: 100%;
  height: 633px;
  background-size: cover;
  background-position: center center;
  border: 0px solid red; }
  .banner-nri h1{
    font-family: 'didot';
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    margin: 0px;
    line-height: 100px; }


.banner-luxury{
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
  border: 0px solid red; }
  .banner-luxury h1{
    font-family: 'didot';
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    margin: 0px;
    line-height: 100px; }

    .banner-commercial{
      width: 100%;
      height: 250px;
      background-size: cover;
      background-position: center center;
      border: 0px solid red; }
      .banner-commercial h1{
        font-family: 'didot';
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        font-size: 34px;
        margin: 0px;
        line-height: 160px; }

.banner-about, .banner-property, .banner-press, .banner-contact, .banner-clients, .banner-commercial,  .background-image-style, .banner-brands, .banner-alliances, .banner-downloads, .banner-career, .banner-brands, .banner-services, .banner-product, .banner-business, .banner-awards, .banner-media, .banner-hralign, .banner-offerings, .banner-leader{
  width: 100%;
  height: 216px;
  background-size: cover;
  background-position: center center;
  border: 0px solid red; }
.banner-about h1, .banner-property h1, .banner-press h1, .banner-contact h1, .banner-clients h1, .banner-commercial h1,.background-image-style h1, .banner-brands h1, .banner-alliances h1, .banner-downloads h1, .banner-career h1, banner-brands h1, .banner-services h1, .banner-product h1, .banner-business h1, .banner-awards h1, .banner-media h1, .banner-hralign h1, .banner-offerings h1, .banner-leader h1 {
    font-family: 'didot';
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    margin: 0px;
    line-height: 100px; }



  .banner-hospitality{  width: 100%;

    background-size: cover;
    background-position: center center;
    border: 0px solid red; }
.banner-hospitality h1{  font-family: 'didot';
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  font-size: 34px;
  margin: 0px;
  line-height: 100px;}
.margin-top-0{margin-top: 0px!important;}



.banner-brands {
  background-image: url("../img/banner-brand.jpg"); }
.banner-career {
  background-image: url("../img/services-banner1.jpg"); }
.banner-brands {
  background-image: url("../img/services-banner1.jpg"); }
.banner-services {
  background-image: url("../img/panchshil-services.jpg"); }
.banner-product {
  background-image: url("../img/product-management-ban.jpg"); }
  .banner-property {
    background-image: url("../img/product-management-ban.jpg"); }
.hero-banner-img {
  background-image: url("../img/banner-alliances.jpg"); }
.banner-downloads {
  background-image: url("../img/banner-download.jpg"); }
.banner-business {
  background-image: url("../img/business-banner.jpg"); }
.banner-awards {
  background-image: url("../img/awards-ban.jpg"); }
.banner-media {
  background-image: url("../img/awards-ban.jpg"); }
.banner-hralign {
  background-image: url("../img/hralign-banner.jpg"); }
  .banner-press {
    background-image: url("../img/banner-alliances.jpg"); }
  .banner-contact {
    background-image: url("../img/contact-banner.jpg"); }
.banner-offerings {
    background-image: url("../img/banner-offerings.jpg"); }
.banner-leader {
        background-image: url("../img/leadership-banner.jpg"); }
.banner-luxury {
        background-image: url("../img/luxury-residency-banner.jpg"); }
        .banner-commercial {
                background-image: url("../img/luxury-residency-banner.jpg"); }
        .banner-about {
          background-image: url("../img/about-banner.jpg"); }
          .banner-clients {
            background-image: url("../img/banner-clients.jpg"); }
            .banner-nri {
              background-image: url("../img/nri-landing-banner.jpg"); }




.clear{clear: both;}

 .clients-sec h1 {   font-family: 'didot-bold';   text-align: center;    padding: 20px 0;    font-size: 26px;    color: #333333;}




.commercial-slider-title {   color: #fff;   text-align: center;}
.commercial-slider-subtitle{color: #fff;text-align: center;}
.specifications p, .specifications-area, .specifications b {   text-align: center;}

.office-address {
    color: #828080;
    text-align: justify;
}

.text-center{text-align: center!important;}

/*flexible footer*/

.sliderside,
ul.pagecategory,
.thunderheart .list-inline {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: -moz-inline-box;
    display: inline-flex;
    width: 100%
}
.pagecategory li {
    cursor: pointer;
}
.flexside,
ul.pagecategory>li,
.thunderheart .list-inline li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    /*    cursor: pointer;*/
    -webkit-transition: all 1s ease;
}
/*allflex*/

.flexside img {
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    height: 550px;
    width: auto;
}
.flexside:hover img {
    position: relative;
}
.flexside+.flexside {
    padding-left: 1px;
}
.flexside {
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.flexside:hover {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}
object.embed-responsive-item {
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
}
.headerzindex {
    z-index: 9;
}
.whiter {
    background: white;
}
.relativetxt {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: #fff;
}
.black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
}
.imgslider {
    position: relative;
}
.relativeimg {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 0%;
    bottom: 0%;
    width: auto;
}
.relativetxt p {
    font-style: normal;
    margin: 0;
    font-weight: 500;
      font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.subbtn:hover {
    border: 1px solid fff #05c7c7;
    color: #05c7c7;
    background: #fff;
}
.fontwt {
    font-weight: 500;
}
.form-horizontal textarea {
    font: inherit;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid darkgrey;
    display: block;
    margin: 10px auto;
    font-size: 0.9em;
    font-weight: 300;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.border-yellow {
    border-top: 5px solid #05c7c7;
}
.catlist:hover {
    color: white;
}
li.cat-list:hover a {
    text-decoration: none;
    color: white;
}

.ng-binding{

  border: 2px solid #fff;width: 50%; margin: 25%!important;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 30px;
  border-radius: 4px;

padding:15px;
    transition: 1s all;}



    p.ng-binding:hover {
        width: 70%;
margin-left: 12%!important;
        height: 240px;
        text-align: left;}

  /*p.ng-binding:hover.subtitle{display:block;}*/



/*flexible footer ends*/








.breadcrumb {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0px;padding: 8px 55px; }
  .breadcrumb li a {
    color: #ffffff;
    opacity: .6;
    font-size: 11px; }
  .breadcrumb:active {
    opacity: 1;
    font-weight: bold; }
  .breadcrumb:hover {
    cursor: pointer; }

.breadcrumb > .active {
  color: #ffffff;
  opacity: .6;
  font-size: 11px;
  cursor: default; }


.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.glyphicon {
      float: right;
      font-size: 17px;
      left: 40px;
        top: -8px;
  }


.logo-content, .desc-content {
  display: table-cell;
  vertical-align: middle;
  background-color: #eeeeee; }

.desc-content {
  background-color: #f8f8f8; }
  .desc-content .title {
    font-family: "verdana";
    font-size: 23px;
    color: #333333;
    text-align: left;
    letter-spacing: 1px; }
  .desc-content.p {
    margin: 20px 0 25px; }
  .desc-content a {
    padding: 10px 20px;
    border: 1px solid #444444;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px; }

/* Bounce To Right button animation*/
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s; }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f58634;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #f58634; }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }




/*padding*/

.innerAll {
  padding: 10px; }

.inner-2x.innerTB {
  padding-top: 20px;
  padding-bottom: 20px; }

.inner-5x.innerAll {
  padding: 50px; }
.inner-5x.innerT {
  padding-top: 50px; }
.inner-5x.innerB {
  padding-bottom: 50px; }
.inner-5x.innerL {
  padding-left: 50px; }
.inner-5x.innerR {
  padding-right: 50px; }
.inner-5x.innerLR {
  padding-left: 50px;
  padding-right: 50px; }
.inner-5x.innerTB {
  padding-top: 50px;
  padding-bottom: 50px; }
.inner-5x.innerMAll {
  margin: 50px; }
.inner-5x.innerMT {
  margin-top: 50px; }
.inner-5x.innerMB {
  margin-bottom: 50px; }
.inner-5x.innerML {
  margin-left: 50px; }
.inner-5x.innerMR {
  margin-right: 50px; }
.inner-5x.innerMLR {
  margin-left: 50px;
  margin-right: 50px; }
.inner-5x.innerMTB {
  margin-top: 50px;
  margin-bottom: 50px; }

.inner-3x.innerAll {
  padding: 30px; }
.inner-3x.innerT {
  padding-top: 30px; }
.inner-3x.innerB {
  padding-bottom: 30px; }
.inner-3x.innerL {
  padding-left: 30px; }
.inner-3x.innerR {
  padding-right: 30px; }
.inner-3x.innerLR {
  padding-left: 30px;
  padding-right: 30px; }
.inner-3x.innerTB {
  padding-top: 30px;
  padding-bottom: 30px; }
.inner-3x.innerMAll {
  margin: 30px; }
.inner-3x.innerMT {
  margin-top: 30px; }
.inner-3x.innerMB {
  margin-bottom: 30px; }
.inner-3x.innerML {
  margin-left: 30px; }
.inner-3x.innerMR {
  margin-right: 30px; }
.inner-3x.innerMLR {
  margin-left: 30px;
  margin-right: 30px; }
.inner-3x.innerMTB {
  margin-top: 30px;
  margin-bottom: 30px; }

.inner-2x.innerAll {
  padding: 20px; }
.inner-2x.innerT {
  padding-top: 20px; }
.inner-2x.innerB {
  padding-bottom: 20px; }
.inner-2x.innerL {
  padding-left: 20px; }
.inner-2x.innerR {
  padding-right: 20px; }
.inner-2x.innerLR {
  padding-left: 20px;
  padding-right: 20px; }
.inner-2x.innerTB {
  padding-top: 20px;
  padding-bottom: 20px; }
.inner-2x.innerMAll {
  margin: 20px; }
.inner-2x.innerMT {
  margin-top: 20px; }
.inner-2x.innerMB {
  margin-bottom: 20px; }
.inner-2x.innerML {
  margin-left: 20px; }
.inner-2x.innerMR {
  margin-right: 20px; }
.inner-2x.innerMLR {
  margin-left: 20px;
  margin-right: 20px; }
.inner-2x.innerMTB {
  margin-top: 20px;
  margin-bottom: 20px; }

.innerAll-40 {
  padding: 40px; }

.innerAll-more {
  padding: 50px; }

.innerAll {
  padding: 10px; }

.inner-4x.innerT {
  padding-top: 40px; }
.inner-4x.inner-MB {
  margin-bottom: 40px; }
.inner-4x.inner-MLTR {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px; }
/*padding*/





.maindiv {
    line-height: 20px;
    padding: 2px 0px;
    font-size: 14px;
}


.maindiv a:hover {
    text-decoration: none;
    color: #000;
}.maindiv i {
    margin-left: 10px;
    font-size: 30px;
    height: 70px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 8px;
    width: 70px;
    padding: 13px 15px;
    float: left;
    font-size: 55px;
    margin-right: 10px;
}.fa-pdf {
    background-color: #fa7977;background-size: auto;
    background-position: center center;
    border: 0px solid red;
    background-repeat: no-repeat;
    transition: 0.7s background-color ease;
    background-image: url(../img/document-logo.png) !important;
}.fa-zip {
    background-color: #f5ca62;background-size: auto;
    background-position: center center;
    border: 0px solid red;
    background-repeat: no-repeat;
    transition: 0.7s background-color ease;
    background-image: url(../img/zip-logo.png) !important;
}.fa-word {
    background-color: #90b0e0;background-size: auto;
    background-position: center center;
    border: 0px solid red;
    background-repeat: no-repeat;
    transition: 0.7s background-color ease;
    background-image: url(../img/word-logo.png) !important;
}.maindiv a {
    text-decoration: none;
    color: #444444;
}.maindiv span {
    color: #999999;
    font-size: 11px;
}.simple-image {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.simple-image {
    position: relative;
    width: 100%;
    background: #000;
    overflow: hidden;
}.simple-image .content {
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    bottom: 0;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    padding: 40px 25px;
    opacity: 1!important;
    z-index: 0;
    color: #fff;
}.hover__active {
    opacity: 0;
    bottom: 0;
    position: absolute;
    z-index: 999!important;
    margin: 0 auto;
    left: -75px;
    right: 0;
    text-align: left;
    color: #fff;
    width: 90%;
}
.alliances p {
  width: 80%;
  margin: 0 auto; }

.category-home {
  position: relative; }
  .category-home p {
    text-align: left !important;
    width: 80% !important;
    font-size: 15px; }
  .category-home .hover__active {
    text-align: left !important; }

.simple-image {
  position: relative;
  width: 100%;
  background: #000;
  overflow: hidden; }
  .simple-image img {
    filter: url("data:image/svg+xml;utf8,<svgxmlns='http://www.w3.org/2000/svg'><filterid='grayscale'><feColorMatrixtype='matrix'values='0.33330.33330.3333000.33330.33330.3333000.33330.33330.33330000010'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(0%);
    opacity: 1; }
  .simple-image:hover img {
    filter: none;
    -webkit-filter: grayscale(0%);
    opacity: .3; }

.title__rotation h1 {
  font-size: 13px;
  color: #dcdcdc;
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 200;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 30px;
  background-color: transparent;
  line-height: 40px;
  height: 50px;
  border-radius: 50%;z-index: 100;
  right: 35px;
  text-transform: uppercase;
  transform: rotate(0deg) scale(1) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) translate(0px);
  -moz-transform: rotate(0deg) scale(1) translate(0px);
  -o-transform: rotate(0deg) scale(1) translate(0px);
  -ms-transform: rotate(0deg) scale(1) translate(0px); }
  .title__rotation h1:after {
    content: '';
    width: 0;
    background: #fff;
    position: absolute;
    margin-left: 20px;
    top: 6px;
    right: 35px;
    height: 1px; }

.simple-image:hover h1 {
  color: #fff; }
  .simple-image:hover h1:after {
    width: 50px;
    top: -52px;
    height: 1px;
    left: -449px; }
.simple-image .content {
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  bottom: 0;
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  padding: 40px 25px;
  opacity: 1;
  z-index: 9999;
  color: #fff; }
.simple-image:hover .content {
  opacity: 1;
  height: 0;
  text-align: left;
  padding: 200px 38px; }

.hover__active {
  opacity: 0;
  bottom: 0;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: -75px;
  right: 0;
  text-align: left;
  color: #fff;
  width: 90%; }

.simple-image {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .simple-image:hover {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.hover__active, .simple-image .content, .title__rotation:after, .simple-image img, .title__rotation h1:after {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.projects .img {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .projects .img img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }

.hover__active span {
  background: #fecb30;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: left;
  text-align: left;
  vertical-align: middle;
  padding-top: 17px;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 10px; }

.simple-image:hover .hover__active {
  opacity: 1;
  bottom: 10%; }

.hover__active a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 auto;
  left: 0;
  right: 0; }



.content span {
  font-family: "verdana";
  font-size: 25px;
  text-transform: capitalize; }

.box-shadow {
  border-top: 0px;
  height: 10px;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 4px 5px 1px #e3e3e3;
  -moz-box-shadow: 0px 4px 5px 1px #e3e3e3;
  box-shadow: 0px 4px 5px 1px #e3e3e3; }

.show_hide {
  display: none; }

.residential {
  background-image: url(../img/alliances-residential.jpg); }

.commercial {
  background-image: url(../img/alliances-commercial.jpg); }

.hospitality {
  background-image: url(../img/alliances_hospitality.jpg); }

.retail {
  background-image: url(../img/alliances_retail.jpg); }
.clients-logo-bg {
    background-color: #f8f8f8!important;
}
/*p{color: #444444; font-family: verdana; text-align: justify;font-size: 13px;}*/
.center-block{text-align: center;}
.title-bold{color: #222222; letter-spacing: 2px;font-size: 11px; font-weight: bold;text-transform: uppercase;}.title-02{color: #666666;font-size: 12px; letter-spacing: 1px; text-transform: capitalize;}
.clients-heading{color: #333333; font-size: 34px; font-family: didot;text-align: center; margin: 0 auto; width: 100%;}
.padding2 {
    padding-right:20px!important;
}


.footer-quick-link ul li i {    margin-right: 7px!important;}
.projects .fa{margin-top:0px;color:#5e606f!important; }

.auto-align-cent{ display: flex;
    align-items: center;
    justify-content: center;}
.residency-img-buttom-text{background-color: #f8f8f8;}
.construction{    color: #737373;}









@media screen and (max-width: 1024px) {
.footer-bottom-overlay .btn-default {
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 16px;
    width: 160px;
    position: relative;
    height: 50px;}

    .breadcrumb {
        padding: 8px 35px;}


}


@media screen and (max-width: 468px) {

.quick-link .navbar-nav>li>a {    padding-top: 10px;    padding-bottom: 10px;background-color: #fff;}

/*.img-circle-slider img {  width: 253px;  height: 253px;  margin: 0px 38px;}*/
.footer {    padding: 30px 15px;}
    .banner-product h1 {font-size: 28px;}
    .contact {    border-right: 0px solid #a2a1a1;}
    .residence-property-finder .form-group {        margin-top: -5px;              width: 50%;    }

    .residence-property-finder .form-group select {    height: 35px;}

.background-image-style h1, .banner-brands h1, .banner-alliances h1, .banner-downloads h1, .banner-career h1, banner-brands h1, .banner-services h1, .banner-product h1, .banner-business h1, .banner-awards h1, .banner-media h1, .banner-hralign h1, .banner-offerings h1, .banner-leader h1, .banner-luxury h1 {
        font-size: 24px;}
        .logo-content { display: block;}
.logo-content img{margin: 0 auto;}.logo-contnt-leader{width: 100%}
.breadcrumb {
    padding: 8px 15px;}
}
