.graybody{
    background-color: #d9edf7
}
.main-container{
    background-color: white;
    padding: 15px;
    width: 50%;
    margin: 10% 25%;
}
.sub-container{
}
.log-img{

    width: 20%;
}
.status{

    text-align: center;
    color: green;
    font-size: 30px;
    font-weight: bold;
}
.redirect{
    padding-top: 10px;
}
.blue-button{
    background-color: #22a0da;
    text-align: center;
    color: white;
    height: 30px;
    padding: 5px;
    margin: 0 6px;
    width: 31%;
    cursor: pointer;
    float: right;
}
.main-container-1{
    background-color: white;
    padding: 15px;
    width: 80%;
    margin: 1% 6%;
}

.blue-button-1{
    background-color: #22a0da;
    text-align: center;
    color: white;
    height: 30px;
    padding: 5px;
    margin: 0 0.2%;
    width: 20%;
    cursor: pointer;
    float: right;
}
#err-msg{
    height: 50px;
    text-align: center;
    color: red;
}
#success-content{
    color: green;
    text-align: center;
}
#error-content{
    color: red;
    text-align: center;
}

.icon-preview {
    width: 124px;
    height: 90px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    background-color: black;
    margin-top: 5px;
    margin-left: 1px;
}

.img-preview {
    width: 240px;
    height: 130px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    background-color: black;
    margin-top: 5px;
    margin-left: 1px;
}

.img-text{
    margin-top: 16px;
}

.remove-btn{
    background-color: #22a0da;
    text-align: center;
    color: white;
    height: 32px;
    padding: 5px;
    margin-top: 26px;
    width: 14.7%;
    cursor: pointer;
    margin-left: 35px;
}
.option-input{
    width: 96%;
}

#example_filter{
    float: right;
}

.profile-preview{
    width: 100px;
    height: 130px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    background-color: black;
    margin-top: 5px;
    margin-left: 1px;
}