.headline {
  color: $darkGreen;
  text-align: center;
  font-size: $var*2+5;
  font-weight: bold;
  margin: ($var*2) 0 $var 0;
}
.boldText {
  font-weight: bold;
}
.errorMessage {
  @extend .errormessagePadMag;
  text-align: center;
  color: $red;
  font-weight: bold;
  font-size: $var*2-2;
}
