.containt {
  width:$width*60;
}

.errormessagePadMag {
  margin-bottom: $margin;
}
.featureImages{
  // width: 240px;
  height: 130px;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
  display: inline-block;
  background-color: black;
  margin-top: $margin/2;
  margin-left: $margin/2-1;
  width: percentage($numeric/10);
  //height: percentage($numeric);
}
