

  <header class="cd-main-header ">
      <a class="cd-logo" href="#0"><img src="../../img/logo.jpg" alt="Logo"></a>
      <ul class="cd-header-buttons">
          <li>
              <a class="cd-search-trigger" href="#cd-search">
                  <!-- Search -->
                  <span></span>
                  <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
              </a>
          </li>
          <li>
              <a class="cd-nav-trigger" href="#cd-primary-nav">
                  <!-- Menu --><span></span></a>
          </li>
      </ul>
      <!-- cd-header-buttons -->
  </header>
  <main class="cd-main-content">
      <!-- your content here -->
  </main>
  <div class="cd-overlay"></div>
  <!--    <div class="cd-overlay"></div>-->
  <nav class="cd-nav">
      <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
          <li class="logo-css">
              <a href="../../views/home/home.php"> &nbsp;<img src="../../img/home_logo.png" class="margin-btm"></a>
          </li>
          <li class="has-children">
              <a href="../../views/business/business.php" class="ab">Business</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="has-children">
                      <a href="../../views/offering/offering.php">Offerings</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Offerings</a></li>
                          <li><a href="../../luxuryresidancy/luxeryresidancy.php">Luxury Residences</a></li>
                          <li><a href="../../commercial/commercial.php">Commercial</a></li>
                          <li><a href="../../hospitality/hospitality.php">Hospitality</a></li>
                          <li><a href="../../retail/retail.php">Retail</a></li>
                          <!-- Retail page not found -->
                      </ul>
                  </li>
                  <li class="has-children">
                      <a href="../../views/services/services.php">Services</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Services</a></li>
                          <!--  <li><a href="#">Project Management</a></li>
                          <li><a href="#0">Facility Management</a></li>
                          <li><a href="#0">Fit-Out Management</a></li>
                          <li><a href="#0">Fit-Out Management</a></li> -->
                          <li><a href="../ProjectManagement/product-management.php">  Project Management </a></li>
                          <!-- Project Management  page not found, is it ProDUct Management ?  -->
                          <li><a href="#">  Construction Management </a></li>
                          <!-- Construction Management page not found  -->
                          <li><a href="../facility_management/facility-management.php">  Facility Management </a></li>
                          <li><a href="../fit_out_management/fit-out-management.php">  Fit-Out Management </a></li>
                          <li><a href="../brand_licensing/brand-licensing.php">  Brand Licensing </a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="../../views/about/about.php" class="ab">About</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="has-children">
                      <a href="../views/corporateprofile/corporate-profile.php">Corporate Profile</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Corporate Profile</a></li>
                          <li><a href="../foreward/foreward.php">Foreword</a></li>
                          <li><a href="../companyprofile/company-profile.php">Company Profile</a></li>
                          <li><a href="#">Growth Chronicle</a></li>
                          <li><a href="#">Group Philosophy</a></li>
                          <!-- <li><a href="#">Awards</a></li>  -->
                          <!-- missing in pdf -->
                      </ul>
                  </li>
                  <li class="has-children">
                      <a href="../../views/leadership/leadership.php">Leadership</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Leadership</a></li>
                          <li><a href="#">Atul Chordia</a></li>
                          <li><a href="#0">Abhay Chordia</a></li>
                          <li><a href="#0">Sagar Chordia</a></li>
                          <li><a href="#0">Anand Sanghvi</a></li>
                          <li><a href="#0">Vivek Rachh</a></li>
                      </ul>
                  </li>
                  <li class="">
                      <a href="#">Clients</a>
                  </li>
                  <li class="has-children">
                      <a href="#">Sustainability</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Sustainability</a></li>
                          <li><a href="../inBusiness/in-business.php">In Business</a></li>
                          <li><a href="../csr/csr.php">CSR</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="../../views/alliances.php" class="ab">Alliances</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="#">Partners</a>
                  </li>
                  <li class="">
                      <a href="../brand/brand.php">Brands</a>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="../../views/career/career.php" class="ab">Careers</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="../hralign/hr-align.php">HR Align</a>
                  </li>
                  <li class="">
                      <a href="../pep/pep.php">PEP</a>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="../../views/media/media.php" class="ab">Media</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="../press/press.php">Press</a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Press</a></li>
                          <li><a href="#">PDF</a></li>
                          <li><a href="#">Video</a></li>
                      </ul>
                  </li>
                  <li class="">
                      <a href="../../views/award/award.php">Awards</a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Awards</a></li>
                          <li><a href="#">PDF</a></li>
                          <li><a href="#0">Video</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li><a href="../../views/contact/contact.php">contact</a></li>
      </ul>
      <!-- primary-nav -->
  </nav>
  <!-- cd-nav -->
  <!-- header-->
