

  <header class="cd-main-header ">
      <a class="cd-logo" href="#0"><img src="img/logo.jpg" alt="Logo"></a>
      <ul class="cd-header-buttons">
          <li>
              <a class="cd-search-trigger" href="#cd-search">
                  <!-- Search -->
                  <span></span>
                  <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
              </a>
          </li>
          <li>
              <a class="cd-nav-trigger" href="#cd-primary-nav">
                  <!-- Menu --><span></span></a>
          </li>
      </ul>
      <!-- cd-header-buttons -->
  </header>
  <main class="cd-main-content">
      <!-- your content here -->
  </main>
  <div class="cd-overlay"></div>
  <!--    <div class="cd-overlay"></div>-->
  <nav class="cd-nav">
      <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
          <li class="logo-css">
              <a href="index.php"> &nbsp;<img src="img/home_logo.png" class="margin-btm"></a>
          </li>
          <li class="has-children">
              <a href="business.php" class="ab">Business</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="has-children">
                      <a href="offering.php">Offerings</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Offerings</a></li>
                          <li><a href="luxeryresidancy.php">Luxury Residences</a></li>
                          <li><a href="commercial.php">Commercial</a></li>
                          <li><a href="hospitality.php">Hospitality</a></li>
                          <li><a href="#0">Retail</a></li>
                          <!-- Retail page not found -->
                      </ul>
                  </li>
                  <li class="has-children">
                      <a href="services.php">Services</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Services</a></li>
                          <!--  <li><a href="#">Project Management</a></li>
                          <li><a href="#0">Facility Management</a></li>
                          <li><a href="#0">Fit-Out Management</a></li>
                          <li><a href="#0">Fit-Out Management</a></li> -->
                          <li><a href="#">  Project Management </a></li>
                          <!-- Project Management  page not found, is it ProDUct Management ?  -->
                          <li><a href="">  Construction Management </a></li>
                          <!-- Construction Management page not found  -->
                          <li><a href="facility-management.php">  Facility Management </a></li>
                          <li><a href="fit-out-management.php">  Fit-Out Management </a></li>
                          <li><a href="brand-licensing.php">  Brand Licensing </a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="about.php" class="ab">About</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="has-children">
                      <a href="corporate-profile.php">Corporate Profile</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Corporate Profile</a></li>
                          <li><a href="foreword.php">Foreword</a></li>
                          <li><a href="company-profile.php">Company Profile</a></li>
                          <li><a href="growth_chronicle.php">Growth Chronicle</a></li>
                          <li><a href="group-philosophy.php">Group Philosophy</a></li>
                          <!-- <li><a href="#">Awards</a></li>  -->
                          <!-- missing in pdf -->
                      </ul>
                  </li>
                  <li class="has-children">
                      <a href="leadership.php">Leadership</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Leadership</a></li>
                          <li><a href="#">Atul Chordia</a></li>
                          <li><a href="#0">Abhay Chordia</a></li>
                          <li><a href="#0">Sagar Chordia</a></li>
                          <li><a href="#0">Anand Sanghvi</a></li>
                          <li><a href="#0">Vivek Rachh</a></li>
                      </ul>
                  </li>
                  <li class="">
                      <a href="#">Clients</a>
                  </li>
                  <li class="has-children">
                      <a href="#">Sustainability</a>
                      <a class="mobileMenuNext" href="#"></a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Sustainability</a></li>
                          <li><a href="in-business.php">In Business</a></li>
                          <li><a href="csr.php">CSR</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="alliances.php" class="ab">Alliances</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="#">Partners</a>
                  </li>
                  <li class="">
                      <a href="brand.php">Brands</a>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="career.php" class="ab">Careers</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="hr-align.php">HR Align</a>
                  </li>
                  <li class="">
                      <a href="pep.php">PEP</a>
                  </li>
              </ul>
          </li>
          <li class="has-children">
              <a href="media.php" class="ab">Media</a>
              <a class="mobileMenuNext" href="#"></a>
              <ul class="cd-secondary-nav is-hidden">
                  <li class="go-back"><a href="#0">Menu</a></li>
                  <li class="">
                      <a href="#">Press</a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Press</a></li>
                          <li><a href="#">PDF</a></li>
                          <li><a href="#">Video</a></li>
                      </ul>
                  </li>
                  <li class="">
                      <a href="#">Awards</a>
                      <ul class="is-hidden">
                          <li class="go-back"><a href="#0">Awards</a></li>
                          <li><a href="#">PDF</a></li>
                          <li><a href="#0">Video</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li><a href="contact.php">contact</a></li>
      </ul>
      <!-- primary-nav -->
  </nav>
  <!-- cd-nav -->
  <!-- header-->
